{% set course = {
    'current' : False,
    'abv_title': 'CSC273',
    'abv_name': 'Computing Systems Integration',
    'title' : 'CSC273 - Computing Systems Integration',
    'abv_semester': 'SP22',
    'semester' : 'Spring 2022',
    'lectures' : {
        'time': 'Tues/Thurs 1:30PM-2:50PM',
        'bldg': 'OM',
        'room': '159',
    },
    'D2L' : 'TBA',
    'dates' : [
      ('Final Exam', 'TBD'),
    ]
  }
%}