{% macro cite( vargs ) -%}
  {%- for p in vargs -%}
  <a href='{{p.jlink}}'>
    {{- p.sjournal ~ ' ' ~ ( p.year % 1000 ) -}}
    {%- if not loop.last -%}, {% endif -%}
  </a>
  {%- endfor -%}
{%- endmacro -%}

{%- macro tpubs( all, tag ) %}
  {%- set flist = [] -%}
  {%- for p in all -%}
    {%- if tag in p.tags -%}
      {%- set _ = flist.append(p) %}
    {%- endif -%}
  {%- endfor -%}
  {{- pubs( flist ) -}}
{%- endmacro -%}

{% macro pubs( list ) %}
  {% for p in list %}
    <li>
      {% if p.link or p.code %}
	<div class='btn-group text-nowrap tight-float-right'>
	  {%- if p.link -%}
	    <a class='btn btn-default btn-xs' href='{{site_url}}/research/papers/{{p.link}}' title='Download preprint'>
	      {{ glyph( 'download' ) }}
	    </a>
	  {% endif %}
	  {% if p.twoup %}
	    <a class='btn btn-default btn-xs' href='{{site_url}}/research/papers/{{p.twoup}}' title='Download 2up preprint for eco-friendly printing'>
	      {{ glyph( 'print' ) }}
	    </a>
	  {% endif %}
	  {#
	  {% if p.jlink %}
	    <a class='btn btn-default btn-xs' href='{{p.jlink}}' title='Official journal link'>
	      {{ glyph( 'book' ) }}
	    </a>
	  {% endif %}
	  #}
	  {% if p.code or p.fcode %}
	    <a class='btn btn-default btn-xs'
	      href='{{(site_url ~ '/research/' ~ p.code) if p.code
		else p.fcode }}'
	      title='Code and Figures'>
	      {{ glyph( 'sunglasses' ) }}
	    </a>
	  {%- endif -%}
	</div>
      {% endif %}
      {% for a in p.authors %}
	<span class='text-nowrap'>{{a}},</span>
      {% endfor %}
      <i>{{p.title ~ (',' if p.journal else '.')}}</i>
      {% if p.jlink %}<a href='{{p.jlink}}' title='Published paper from journal website'>{% endif %}
	{{p.journal ~ ( ' ('~p.year~').' if p.year else '.' ) }}
      {% if p.jlink %}</a>{% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{%- macro glyph( g ) -%}
  <span class='glyphicon glyphicon-{{g}}' aria-hidden='true'></span>
{%- endmacro -%}

{%- macro email( address ) -%}
  <span class='text-nowrap' title='Email'>
    {{ glyph('envelope') }}
    {{ address | default( "author@email.com" ) }}.
  </span>
{%- endmacro -%}

{%- macro room( bldg, room='', is_office=true ) -%}
  <span class='text-nowrap' {{"title='Office'" if is_office}}>
    {{-glyph('briefcase') if is_office-}}
    {%- if bldg == "WEH" -%}
      {{' '}}<a title='Wean Hall' href='https://www.google.com/maps/place/Wean+Hall,+Carnegie+Mellon+University,+Pittsburgh,+PA+15213'>WEH</a>
    {%- else -%}
      {{bldg}}
    {%- endif -%}
    {{- ' '~room if room -}}.
  </span>
{%- endmacro -%}

{%- macro course_info_table(c) -%}
  {#- Import this using "with context", so all the variables are inherited #}
  <table class='table' summary='Logistical Information'>
    <tbody>{# Instructor, lectures {{{ #}
      <tr>
	<th scope='row'>Instructor</th>
	<td>
	  <a href='{{author_url}}'>{{site_author}}</a>.
	  &emsp;
	  {{ room( author_office_bldg, author_office_room ) }}
	  &emsp;
	  {{ email(c.email|default(author_email)) }}
	</td>
      </tr>
      {%- if c.lectures -%}
      <tr>
	<th scope='row'>Lectures</th>
	<td>
	  {% if c.lectures is string -%}
	    {{c.lectures}}
	  {% else -%}
	    {{c.lectures.time}} in
	    {{room( c.lectures.bldg, c.lectures.room, is_office=false ) }}
	  {% endif -%}
	</td>
      </tr>
      {%- endif -%}
      {%- if c.office_hours -%}
      <tr>
	<th scope='row'>
	  Office Hours
	  {%- if c.ta and c.ta.office_hours %} (instructor){%- endif -%}
	</th>
	<td>
	  {{c.office_hours}}
	</td>
      </tr>
      {%- endif -%}
    </tbody>{# }}} #}
    {%- if c.ta -%}{# TA {{{ #}
      {%- set ta = c.ta -%}
      <tbody>
	<tr>
	  <th scope='row'>TA</th>
	  <td>
	    {%- if ta.url -%}
	      <a href='{{ta.url}}'>{{ta.name}}</a>.
	    {%- else -%}
	      {{ta.name}}.
	    {%- endif -%}
	    {%- if ta.office -%}
	      &emsp;
	      {{ room( ta.office.bldg, ta.office.room ) }}
	    {%- endif -%}
	    {%- if ta.email -%}
	      &emsp;
	      {{ email( ta.email ) }}
	    {%- endif -%}
	  </td>
	</tr>
	{%- if ta.recitation -%}
	  <tr>
	    <th scope='row'>Recitation</th>
	    <td>
	      {%- if ta.recitation is string -%}
		{{ta.recitation}}
	      {%- else -%}
		{{ta.recitation.time}} in
		{{room( ta.recitation.bldg, ta.recitation.room, is_office=false ) }}
	      {%- endif -%}
	    </td>
	  </tr>
	{%- endif -%}
	{%- if ta.office_hours -%}
	  <tr>
	    <th scope='row'>Office Hours (TA)</th>
	    <td>{{ta.office_hours}}</td>
	  </tr>
	{%- endif -%}
      </tbody>
    {%- endif -%}{# }}} TA #}
    {%- if c.dates -%}{# {{{ #}
    <tbody>
      {%- for (event, time) in c.dates -%}
	<tr>
	  <th scope='row'>{{event}}</th>
	  <td>{{time}}</td>
	</tr>
      {%- endfor -%}
    </tbody>
    {%- endif -%}{# }}} #}
    {%- if c.mailing_list -%}{# Mailing list {{{ #}
      <tbody>
	<tr>
	  <th scope='row'>Mailing list</td>
	  <td>
	    <a href='{{c.mailing_list.url}}'>{{c.mailing_list.name}}</a>
	    <span class='small'>
	      (Students and guests
	      <span class='bg-warning'>
		<b>please subscribe to this list</b>.
	      </span>
	      I will NOT use BlackBoard.)
	    </span>
	  </td>
	</tr>
      </tbody>
    {%- endif -%}{# }}} #}
  </table>
{%- endmacro -%}

{%- macro post_date(f) -%}
  {%- if search( f, '20(\d\d)(\d\d)(\d\d)' ) -%}
    <small> (Posted {{ sub( f, '(?:.*/|^)20(\d\d)(\d\d)(\d\d)-.*', '20\\1-\\2-\\3', 1 ) }})</small>
  {%- endif -%}
{%- endmacro  -%}
