{% macro cite( vargs ) -%}
  {%- for p in vargs -%}
  <a href='{{p.jlink}}'>
    {{- p.sjournal ~ ' ' ~ ( p.year % 1000 ) -}}
    {%- if not loop.last -%}, {% endif -%}
  </a>
  {%- endfor -%}
{%- endmacro -%}

{%- macro tpubs( all, tag ) %}
  {%- set flist = [] -%}
  {%- for p in all -%}
    {%- if tag in p.tags -%}
      {%- set _ = flist.append(p) %}
    {%- endif -%}
  {%- endfor -%}
  {{- pubs( flist ) -}}
{%- endmacro -%}

{% macro pubs( list ) %}
  {% for p in list %}
    <li>
      {% if p.link or p.code %}
	<div class='btn-group text-nowrap tight-float-right'>
	  {%- if p.link -%}
	    <a class='btn btn-default btn-xs' href='{{site_url}}/research/papers/{{p.link}}' title='Download preprint'>
	      {{ glyph( 'download' ) }}
	    </a>
	  {% endif %}
	  {% if p.twoup %}
	    <a class='btn btn-default btn-xs' href='{{site_url}}/research/papers/{{p.twoup}}' title='Download 2up preprint for eco-friendly printing'>
	      {{ glyph( 'print' ) }}
	    </a>
	  {% endif %}
	  {#
	  {% if p.jlink %}
	    <a class='btn btn-default btn-xs' href='{{p.jlink}}' title='Official journal link'>
	      {{ glyph( 'book' ) }}
	    </a>
	  {% endif %}
	  #}
	  {% if p.code or p.fcode %}
	    <a class='btn btn-default btn-xs'
	      href='{{(site_url ~ '/research/' ~ p.code) if p.code
		else p.fcode }}'
	      title='Code and Figures'>
	      {{ glyph( 'sunglasses' ) }}
	    </a>
	  {%- endif -%}
	</div>
      {% endif %}
      {% for a in p.authors %}
	<span class='text-nowrap'>{{a}},</span>
      {% endfor %}
      <i>{{p.title ~ (',' if p.journal else '.')}}</i>
      {% if p.jlink %}<a href='{{p.jlink}}' title='Published paper from journal website'>{% endif %}
	{{p.journal ~ ( ' ('~p.year~').' if p.year else '.' ) }}
      {% if p.jlink %}</a>{% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{%- macro glyph( g ) -%}
  <span class='glyphicon glyphicon-{{g}}' aria-hidden='true'></span>
{%- endmacro -%}

{%- macro email( address ) -%}
  <span class='text-nowrap' title='Email'>
    {{ glyph('envelope') }}
    {{ address | default( "author@email.com" ) }}.
  </span>
{%- endmacro -%}

{%- macro room( bldg, room='', is_office=true ) -%}
  <span class='text-nowrap' {{"title='Office'" if is_office}}>
    {{glyph('briefcase') if is_office}}
    {% if bldg == "WEH" -%}
      <a title='Wean Hall' href='https://www.google.com/maps/place/Wean+Hall,+Carnegie+Mellon+University,+Pittsburgh,+PA+15213'>WEH</a>
    {%- else -%}
      {{bldg}}
    {%- endif -%}
    {{ ' '~room if room}}.
  </span>
{%- endmacro -%}
