{% set pubs = {

    'careassess' : {
        'authors': ['P. Earl', 'L. Frye', 'D. Parson'],
        'title': "Assessing a Scholarship Program for Underrepresented Students in Computer Science & Information Technology",
        'year': 2020,
        'journal': "Proceedings of the 35th Annual Spring Conference of the Pennsylvania Computer & Information Science Educators (PACISE) West Chester University of PA, West Chester, PA",
        'sjournal': "PACISE",
        'link': 'cares_assessment.pdf',
        'tags': ['nsf', 'accessing']
    },

    'test': {
        'authors': ['B. Novak', 'Test'],
        'title': "A Testing Test!",
        'year': 2020
    }
} %}

{% set publist = (
    pubs.careassess,
    pubs.test
) %}
