{% set pubs = {
  'fkinetic' : {
    'authors'	: ['M. Hairer', 'G. Iyer', 'L. Koralov', 'A. Novikov', 'Z. Pajor-Gyulai'],
    'title'	: 'A fractional kinetic process describing the intermediate time behaviour of cellular flows',
    'year'	: 2016,
    'link'	: '201607-fkinetic.pdf',
    'twoup'	: '201607-fkinetic-2up.pdf',
    'tags'	: ['pde', 'probability', 'homogenization'],
  },

  'kompaneets' : {
    'authors'	: ['J. Ballew', 'G. Iyer', 'R. L. Pego'],
    'title'	: 'Bose-Einstein condensation in a Hyperbolic model for the Kompaneets Equation',
    'year'	: 2015,
    'link'	: '201512-kompaneets.pdf',
    'twoup'	: '201512-kompaneets-2up.pdf',
    'tags'	: ['pde'],
  },

  'oseen' : {
    'authors'	: ['G. Gie', 'C. Henderson', 'G. Iyer', 'L. Kavalie', 'J. P. Whitehead'],
    'title'	: 'Stability of vortex solutions to an extended Navier-Stokes system',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2015,
    'link'	: '201411-oseen.pdf',
    'twoup' 	: '201411-oseen-2up.pdf',
    'tags'	: ['pde', 'fluids'],
  },

  'adiffuse' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'Anomalous diffusion  in fast cellular flows at intermediate time scales',
    'journal'	: 'Probab. Theory Related Fields',
    'sjournal'	: 'PTRF',
    'jlink'	: 'http://link.springer.com/article/10.1007/s00440-015-0617-9',
    'year'	: 2015,
    'link'	: '201406-adiffuse.pdf',
    'twoup'	: '201406-adiffuse-2up.pdf',
    'tags'	: ['pde', 'probability', 'homogenization'],
  },

  'qtensor' : {
    'authors'	: ['G. Iyer', 'X. Xu', 'A. D. Zarnescu'],
    'title'	: 'Dynamic Cubic Instability in a 2D Q-tensor Model for Liquid Crystals',
    'journal'	: 'Math. Models Methods Appl. Sci',
    'sjournal'	: 'M3AS',
    'jlink'	: 'http://www.worldscientific.com/doi/abs/10.1142/S0218202515500396',
    'year'	: 2015,
    'link'	: '201405-qtensor-instab.pdf',
    'twoup'	: '201405-qtensor-instab-2up.ps',
    'tags'	: ['pde', 'liquid crystals'],
  },

  'mixbounds' : {
    'authors'	: ['G. Iyer', 'A. Kiselev', 'X. Xu'],
    'title'	: 'Lower bounds on the mix norm of passive scalars advected by incompressible enstrophy-constrained flows',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'jlink'	: 'http://stacks.iop.org/0951-7715/27/973',
    'year'	: 2014,
    'link'	: '201208-mix-bounds.pdf',
    'twoup'	: '201208-mix-bounds-2up.pdf',
    'fcode'	: 'http://www.math.cmu.edu/~gautam/research/201208-mix-bounds',
    'tags'	: ['pde', 'mixing'],
  },

  'llp_gexist' : {
    'authors'	: ['M. Ignatova', 'G. Iyer', 'J. P. Kelliher', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Global existence for two extended Navier-Stokes systems',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'jlink'	: 'http://intlpress.com/site/pub/pages/journals/items/cms/content/vols/0013/0001/a012/index.html',
    'year'	: 2015,
    'link'	: '201308-llp-gexist.pdf',
    'twoup'	: '201308-llp-gexist-2up.pdf',
    'tags'	: ['pde', 'fluids'],
  },

  'coag' : {
    'authors'	: ['G. Iyer', 'N. Leger', 'R. L. Pego'],
    'title'	: 'Limit theorems for Smoluchowski dynamics associated with critical continuous-state branching processes',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2015,
    'jlink'	: 'http://projecteuclid.org/euclid.aoap/1424355128',
    'link'	: '201212-coagulation.pdf',
    'twoup'	: '201212-coagulation-2up.pdf',
    'tags'	: ['probability', 'coagulation'],
  },

  'extdyn' : {
    'authors'	: ['G. Iyer', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Coercivity and stability results for an extended Navier-Stokes system',
    'journal'	: 'J. Math Physics',
    'sjournal'	: 'JMP',
    'year'	: 2012,
    'jlink'	: 'http://link.aip.org/link/?JMP/53/115605',
    'link'	: '201202-extdyn.pdf',
    'twoup'	: '201202-extdyn-2up.ps',
    'tags'	: ['pde', 'fluids']
  },

  'hnumerics' : {
    'authors'	: ['G. Iyer', 'K. C. Zygalakis'],
    'title'	: 'Numerical studies of homogenization under a fast cellular flow',
    'journal'	: 'SIAM Multiscale Model. Simul.',
    'sjournal'	: 'MMS',
    'year'	: 2012,
    'jlink'	: 'http://dx.doi.org/10.1137/120861308',
    'link'	: '201201-hnumerics.pdf',
    'twoup'	: '201201-hnumerics-2up.pdf',
    'tags'	: ['pde', 'homogenization'],
  },

  'evalue' : {
    'authors'	: ['G. Iyer', 'T. Komorowski', 'A. Novikov', 'L. Ryzhik'],
    'title'	: 'From homogenization to averaging in cellular flows',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire',
    'sjournal'	: 'AIHP',
    'year'	: 2014,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S0294144913000942',
    'link'	: '201108-evalue.pdf',
    'twoup'	: '201108-evalue.ps',
    'tags'	: ['pde', 'homogenization'],
  },

  'bdddomains' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic-Lagrangian approach to the Navier-Stokes equations in domains with boundary',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aoap/1312818842',
    'link'	: '201003-bdddomains.pdf',
    'twoup'	: '201003-bdddomains.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'badmixing' : {
    'authors'	: ['G. Iyer', 'A. Novikov', 'L. Ryzhik', 'A. Zlatos'],
    'title'	: 'Exit times for diffusions with incompressible drift',
    'journal'	: 'SIAM J. Math. Anal.',
    'sjournal'	: 'SIMA',
    'year'	: 2010,
    'jlink'	: 'http://epubs.siam.org/doi/abs/10.1137/090776895',
    'link'	: '200911-bad-mixing-2d.pdf',
    'twoup'	: '200911-bad-mixing-2d.ps',
    'tags'	: ['pde', 'mixing'],
  },

  'resetting' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'The regularizing effects of resetting in a particle system for the Burgers\' equation',
    'journal'	: 'Ann. Probab.',
    'sjournal'	: 'AP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aop/1312555805',
    'link'	: '200811-resetting.pdf',
    'twoup'	: '200811-resetting.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'mqg' : {
    'authors'	: ['P. Constantin', 'G. Iyer', 'J. Wu'],
    'title'	: 'Global regularity for a modified critical dissipative quasi-geostrophic equation',
    'journal'	: 'Indiana Univ. Math. J.',
    'sjournal'	: 'IUMJ',
    'year'	: 2008,
    'jlink'	: 'http://www.iumj.indiana.edu/oai/2008/57/3629/3629.xml',
    'link'	: '200803-mqg.pdf',
    'twoup'	: '200803-mqg.ps',
    'tags'	: ['pde', 'harmonic analysis', 'fluids'],
  },

  'particle_method' : {
    'authors'	: ['G. Iyer', 'J. C. Mattingly'],
    'title'	: 'A stochastic-Lagrangian particle system for the Navier-Stokes equations',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'year'	: 2008,
    'jlink'	: 'http://iopscience.iop.org/0951-7715/21/11/004/',
    'link'	: '200803-particle_method.pdf',
    'twoup'	: '200803-particle_method.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'gexist' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian proof of global existence of the Navier-Stokes equations for flows with small Reynolds number',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire',
    'sjournal'	: 'AIHP',
    'year'	: 2009,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S029414490700090X',
    'link'	: '200702-gexist.pdf',
    'twoup'	: '200702-gexist.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'sentropy' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'Stochastic Lagrangian transport and generalized relative entropies',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2006,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1175797610',
    'link'	: '200608-sentropy.pdf',
    'twoup'	: '200608-sentropy.ps',
    'tags'	: ['pde', 'probability'],
  },

  'thesis' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian formulation of the incompressible Navier-Stokes and related transport equation',
    'journal'	: 'Ph.D. Thesis, University of Chicago',
    'sjournal'	: 'Thesis',
    'year'	: 2006,
    'jlink'	: 'http://search.proquest.com/docview/304953924',
    'link'	: '200605-thesis.pdf',
    'twoup'	: '200605-thesis.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'detsns' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic Lagrangian representation of the $3$-dimensional incompressible Navier-Stokes equations',
    'journal'	: 'Comm. Pure Appl. Math.',
    'sjournal'	: 'CPAM',
    'year'	: 2008,
    'jlink'	: 'http://onlinelibrary.wiley.com/doi/10.1002/cpa.20192/abstract;jsessionid=BAF74593C993796122E02A8A12BE5238.d02t01',
    'link'	: '200511-detsns.pdf',
    'twoup'	: '200511-detsns.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'sperturb' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A Stochastic perturbation of inviscid flows',
    'journal'	: 'Comm. Math. Phys.',
    'sjournal'	: 'CMP',
    'year'	: 2006,
    'jlink'	: 'http://www.springerlink.com/content/b7757155707l1571/?MUD=MP',
    'link'	: '200505-sperturb.pdf',
    'twoup'	: '200505-sperturb.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'vtrans' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'Transport in viscous rotating fluids',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2004,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1109885502',
    'link'	: '2004-vtrans.pdf',
    'twoup'	: '2004-vtrans.ps',
    'tags'	: ['pde', 'fluids']
  }
} -%}

{% set publist = (
    pubs.fkinetic,
    pubs.kompaneets,
    pubs.oseen,
    pubs.adiffuse,
    pubs.qtensor,
    pubs.mixbounds,
    pubs.llp_gexist,
    pubs.coag,
    pubs.extdyn,
    pubs.hnumerics,
    pubs.evalue,
    pubs.bdddomains,
    pubs.badmixing,
    pubs.resetting,
    pubs.mqg,
    pubs.particle_method,
    pubs.gexist,
    pubs.sentropy,
    pubs.thesis,
    pubs.detsns,
    pubs.sperturb,
    pubs.vtrans,
) %}
