{% set pubs = {
  'oseen' : {
    'authors'	: ['G. Gie', 'C. Henderson', 'G. Iyer', 'L. Kavalie', 'J. P. Whitehead'],
    'title'	: 'Stability of vortex solutions to an extended Navier-Stokes system',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2015,
    'link'	: 'papers/201411-oseen.pdf',
    'twoup' 	: 'papers/201411-oseen-2up.pdf',
  },
  'adiffuse' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'Anomalous diffusion  in fast cellular flows at intermediate time scales',
    'journal'	: 'Probab. Theory Related Fields',
    'sjournal'	: 'PTRF',
    'jlink'	: 'http://link.springer.com/journal/440',
    'year'	: 2015,
    'link'	: 'papers/201406-adiffuse.pdf',
    'twoup'	: 'papers/201406-adiffuse-2up.pdf'
  },
  'qtensor' : {
    'authors'	: ['G. Iyer', 'X. Xu', 'A. D. Zarnescu'],
    'title'	: 'Dynamic Cubic Instability in a 2D Q-tensor Model for Liquid Crystals',
    'journal'	: 'Math. Models Methods Appl. Sci',
    'sjournal'	: 'M3AS',
    'jlink'	: 'http://www.worldscientific.com/worldscinet/m3as',
    'year'	: 2015,
    'link'	: 'papers/201405-qtensor-instab.pdf',
    'twoup'	: 'papers/201405-qtensor-instab-2up.ps'
  },
  'mixbounds' : {
    'authors'	: ['G. Iyer', 'A. Kiselev', 'X. Xu'],
    'title'	: 'Lower bounds on the mix norm of passive scalars advected by incompressible enstrophy-constrained flows',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'jlink'	: 'http://stacks.iop.org/0951-7715/27/973',
    'year'	: 2014,
    'link'	: 'papers/201208-mix-bounds.pdf',
    'twoup'	: 'papers/201208-mix-bounds-2up.pdf',
    'code'	: '201208-mix-bounds'
  },
  'llp_gexist' : {
    'authors'	: ['M. Ignatova', 'G. Iyer', 'J. P. Kelliher', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Global existence for two extended Navier-Stokes systems',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'jlink'	: 'http://intlpress.com/site/pub/pages/journals/items/cms/content/vols/0013/0001/a012/index.html',
    'year'	: 2015,
    'link'	: 'papers/201308-llp-gexist.pdf',
    'twoup'	: 'papers/201308-llp-gexist-2up.pdf'
  },
  'coag' : {
    'authors'	: ['G. Iyer', 'N. Leger', 'R. L. Pego'],
    'title'	: 'Limit theorems for Smoluchowski dynamics associated with critical continuous-state branching processes',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2015,
    'jlink'	: 'http://projecteuclid.org/euclid.aoap/1424355128',
    'link'	: 'papers/201212-coagulation.pdf',
    'twoup'	: 'papers/201212-coagulation-2up.pdf'
  },
  'extdyn' : {
    'authors'	: ['G. Iyer', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Coercivity and stability results for an extended Navier-Stokes system',
    'journal'	: 'J. Math Physics',
    'sjournal'	: 'JMP',
    'year'	: 2012,
    'jlink'	: 'http://link.aip.org/link/?JMP/53/115605',
    'link'	: 'papers/201202-extdyn.pdf',
    'twoup'	: 'papers/201202-extdyn-2up.ps'
  },
  'hnumerics' : {
    'authors'	: ['G. Iyer', 'K. C. Zygalakis'],
    'title'	: 'Numerical studies of homogenization under a fast cellular flow',
    'journal'	: 'SIAM Multiscale Model. Simul.',
    'sjournal'	: 'MMS',
    'year'	: 2012,
    'jlink'	: 'http://dx.doi.org/10.1137/120861308',
    'link'	: 'papers/201201-hnumerics.pdf',
    'twoup'	: 'papers/201201-hnumerics-2up.pdf'
  },
  'evalue' : {
    'authors'	: ['G. Iyer', 'T. Komorowski', 'A. Novikov', 'L. Ryzhik'],
    'title'	: 'From homogenization to averaging in cellular flows',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire.',
    'sjournal'	: 'AIHP',
    'year'	: 2014,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S0294144913000942',
    'link'	: 'papers/201108-evalue.pdf',
    'twoup'	: 'papers/201108-evalue.ps'
  },
  'bdddomains' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic-Lagrangian approach to the Navier-Stokes equations in domains with boundary',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aoap/1312818842',
    'link'	: 'papers/201003-bdddomains.pdf',
    'twoup'	: 'papers/201003-bdddomains.ps'
  },
  'badmixing' : {
    'authors'	: ['G. Iyer', 'A. Novikov', 'L. Ryzhik', 'A. Zlatos'],
    'title'	: 'Exit times for diffusions with incompressible drift',
    'journal'	: 'SIAM J. Math. Anal.',
    'sjournal'	: 'SIMA',
    'year'	: 2010,
    'jlink'	: 'http://epubs.siam.org/doi/abs/10.1137/090776895',
    'link'	: 'papers/200911-bad-mixing-2d.pdf',
    'twoup'	: 'papers/200911-bad-mixing-2d.ps'
  },
  'resetting' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'The regularizing effects of resetting in a particle system for the Burgers\' equation',
    'journal'	: 'Ann. Probab.',
    'sjournal'	: 'AP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aop/1312555805',
    'link'	: 'papers/200811-resetting.pdf',
    'twoup'	: 'papers/200811-resetting.ps'
  },
  'mqg' : {
    'authors'	: ['P. Constantin', 'G. Iyer', 'J. Wu'],
    'title'	: 'Global regularity for a modified critical dissipative quasi-geostrophic equation',
    'journal'	: 'Indiana Univ. Math. J.',
    'sjournal'	: 'IUMJ',
    'year'	: 2008,
    'jlink'	: 'http://www.iumj.indiana.edu/oai/2008/57/3629/3629.xml',
    'link'	: 'papers/200803-mqg.pdf',
    'twoup'	: 'papers/200803-mqg.ps'
  },
  'particle_method' : {
    'authors'	: ['G. Iyer', 'J. C. Mattingly'],
    'title'	: 'A stochastic-Lagrangian particle system for the Navier-Stokes equations',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'year'	: 2008,
    'jlink'	: 'http://iopscience.iop.org/0951-7715/21/11/004/',
    'link'	: 'papers/200803-particle_method.pdf',
    'twoup'	: 'papers/200803-particle_method.ps'
  },
  'gexist' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian proof of global existence of the Navier-Stokes equations for flows with small Reynolds number',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire',
    'sjournal'	: 'AIHP',
    'year'	: 2009,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S029414490700090X',
    'link'	: 'papers/200702-gexist.pdf',
    'twoup'	: 'papers/200702-gexist.ps'
  },
  'sentropy' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'Stochastic Lagrangian transport and generalized relative entropies',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2006,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1175797610',
    'link'	: 'papers/200608-sentropy.pdf',
    'twoup'	: 'papers/200608-sentropy.ps'
  },
  'thesis' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian formulation of the incompressible Navier-Stokes and related transport equation',
    'journal'	: 'Ph.D. Thesis, University of Chicago',
    'sjournal'	: 'Thesis',
    'year'	: 2006,
    'jlink'	: 'http://search.proquest.com/docview/304953924',
    'link'	: 'papers/200605-thesis.pdf',
    'twoup'	: 'papers/200605-thesis.ps'
  },
  'detsns' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic Lagrangian representation of the $3$-dimensional incompressible Navier-Stokes equations',
    'journal'	: 'Comm. Pure Appl. Math.',
    'sjournal'	: 'CPAM',
    'year'	: 2008,
    'jlink'	: 'http://onlinelibrary.wiley.com/doi/10.1002/cpa.20192/abstract;jsessionid=BAF74593C993796122E02A8A12BE5238.d02t01',
    'link'	: 'papers/200511-detsns.pdf',
    'twoup'	: 'papers/200511-detsns.ps'
  },
  'sperturb' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A Stochastic perturbation of inviscid flows',
    'journal'	: 'Comm. Math. Phys.',
    'sjournal'	: 'CMP',
    'year'	: 2006,
    'jlink'	: 'http://www.springerlink.com/content/b7757155707l1571/?MUD=MP',
    'link'	: 'papers/200505-sperturb.pdf',
    'twoup'	: 'papers/200505-sperturb.ps'
  },
  'vtrans' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'Transport in viscous rotating fluids',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2004,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1109885502',
    'link'	: 'papers/2004-vtrans.pdf',
    'twoup'	: 'papers/2004-vtrans.ps'
  }
} %}
{% set publist = (
    pubs.oseen,
    pubs.adiffuse,
    pubs.qtensor,
    pubs.mixbounds,
    pubs.llp_gexist,
    pubs.coag,
    pubs.extdyn,
    pubs.hnumerics,
    pubs.evalue,
    pubs.bdddomains,
    pubs.badmixing,
    pubs.resetting,
    pubs.mqg,
    pubs.particle_method,
    pubs.gexist,
    pubs.sentropy,
    pubs.thesis,
    pubs.detsns,
    pubs.sperturb,
    pubs.vtrans,
) %}
