{%- set navbar_left = [
    ( 'index.html',	'Home' ),
    ( 'teaching',	'Courses' ),
    ( 'contact.html',   'CV/Contact' ),
] %}
{%- set navbar_right = [

] -%}
{%- set colors = {
    "primary_maroon": "701931",
    "primary_golden": "B6A268",
    "spirt": "FEC524",
    "reed_shade": "C43A31",
    "reed": "DD5143",
    "reed_tint": "E17662",
    "sacony_shade": "00405A",
    "sacony": "43859A",
    "sacony_tint": "87CBD8",
    "roar_shade": "D57800",
    "roar": "FF9E19",
    "roar_tint": "F1C382",
    "found_shade": "6C6054",
    "found": "ACA59C",
    "found_tint": "CEC7BF"
} -%}
{%- set office_hours = {
    "Monday/Wednesday": "12:30PM - 1:30PM",
    "Tuesday/Thursday": "10:00AM - 11:00AM"
} -%}
{%- if dev_env == 'local' -%}
    {%- set _ = navbar_right.append( ( 'dev/test', 'Test' )  ) %}
{%- endif -%}
