{%- set title = "Gautam Iyer's Website" %}
{%- set short_title = "Gautam Iyer" %}
{%- set author = "Gautam Iyer" -%}
{%- set email = "gautam<span style='display: none'>_NO_SPAM_</span>&commat;math.cmu.edu" -%}
{%- set navbar_left = [
    ( 'research',  'Research' ),
    ( 'teaching',	'Teaching' ),
    ( 'contact.html',   'CV/Contact' ),
] %}
{%- set navbar_right = [
    ( 'code',		'Code' ),
    ( 'blog',		'Blog' ),
] -%}
{%- if dev_env == 'production' -%}
    {%- set host = 'http://www.math.cmu.edu' -%}
    {%- set prefix = '/~gautam/sj' -%}
{%- else -%}
    {%- set host = '' -%}
    {%- set prefix = '' -%}
    {%- set navbar_right = navbar_right + [ ( 'test', 'Test' ) ] %}
{%- endif -%}
{%- set url = host + prefix -%}
