{%- set navbar_left = [
    ( 'index.html',	'Research' ),
    ( 'teaching',	'Teaching' ),
    ( 'contact.html',   'CV/Contact' ),
] %}
{%- set navbar_right = [
    ( '',		'Code' ),
    ( 'blog',		'Blog' ),
] -%}
{%- if dev_env == 'local' -%}
    {%- set _ = navbar_right.append( ( 'dev/test', 'Test' )  ) %}
{%- endif -%}
