{% extends "layouts/base.j2" %}
{% import "includes/macros.j2" as macros %}
{% import "includes/publist.j2" as p %}
{% set active = 'research' %}
{% set title = 'Research Interests and Publications' %}

{% block body %}
<h1>{{title}}</h1>

<div class='row'>
  <div class='col-md-6 text-justified hyphenate'>
    {% markdown %}
      ## Research Description

      <img class='img-rounded float-left hidden-xs'
          src='img/mixing-diag-sol6.jpg'>
      <img class='img-rounded float-left visible-xs-inline'
	  src='img/mixing-diag-sol6-xs.jpg'>
      ### Mixing by Incompressible Flows

      Can you stir your coffee to keep it hot for longer?
      How much "work" do you have to do to stir cream into your coffee?
      Mathematically this reduces to obtaining precise estimates for solutions to certain PDE's
      
      *Related papers:*
      {{ macros.cite( [p.pubs.badmixing, p.pubs.mixbounds] ) }}.


      ### Adipisci illum reprehenderit earum magnam vero accusantium hic.

      Sint itaque error qui laborum qui qui. Animi quos voluptatum non et quis.
      Quae odit minima et odit. Est rerum omnis temporibus a temporibus.

      At eius est eligendi rerum sequi sunt. Est tempore rem repellendus eius
      ab nihil distinctio quia. Fugiat quia quos voluptatibus iusto quia
      consequatur quod. Eius et omnis esse dolorum accusantium et.

    {% endmarkdown %}
  </div>{# /col-md-6 lead #}
  <div class='col-md-6'>
    {%markdown%}
      ## Grant Support

      My research is partially supported by:

      * An [NSF](http://www.nsf.gov) CAREER grant (DMS-1252912, 2013-2018).

      * An [Alfred P. Sloan](http://www.sloan.org/sloan-research-fellowships)
	research fellowship (2013).

      * The [Center for Nonlinear Analysis](http://www.math.cmu.edu/cna)
    {% endmarkdown %}

    <h2><a name='publications'></a>Publications</h2>

    <ul>
      {{ macros.pubs( p.publist ) }}
    </ul>

  </div>{#/col-md-6#}
</div>{#/row#}
{% endblock %}
