{% extends "layouts/base.j2" %}
{% import "includes/macros.j2" as macros %}
{% from "includes/publist.j2" import publist %}
{% set active = 'research' %}
{% set title = 'Research Interests and Publications' %}

{% block body %}
<h1>{{title}}</h1>

<div class='row'>
  <div class='col-md-6 lead text-justified hyphenate'>
    {% markdown %}
      ## Research Description

      ### Adipisci illum reprehenderit earum magnam vero accusantium hic.

      Sint itaque error qui laborum qui qui. Animi quos voluptatum non et quis.
      Quae odit minima et odit. Est rerum omnis temporibus a temporibus.

      At eius est eligendi rerum sequi sunt. Est tempore rem repellendus eius
      ab nihil distinctio quia. Fugiat quia quos voluptatibus iusto quia
      consequatur quod. Eius et omnis esse dolorum accusantium et.

      ### Adipisci illum reprehenderit earum magnam vero accusantium hic.

      Sint itaque error qui laborum qui qui. Animi quos voluptatum non et quis.
      Quae odit minima et odit. Est rerum omnis temporibus a temporibus.

      At eius est eligendi rerum sequi sunt. Est tempore rem repellendus eius
      ab nihil distinctio quia. Fugiat quia quos voluptatibus iusto quia
      consequatur quod. Eius et omnis esse dolorum accusantium et.

    {% endmarkdown %}
  </div>{# /col-md-6 lead #}
  <div class='col-md-6'>
    {%markdown%}
      ## Grant Support

      My research is partially supported by:

      * An [NSF](http://www.nsf.gov) CAREER grant (DMS-1252912, 2013-2018).

      * An [Alfred P. Sloan](http://www.sloan.org/sloan-research-fellowships)
	research fellowship (2013).

      * The [Center for Nonlinear Analysis](http://www.math.cmu.edu/cna)
    {% endmarkdown %}

    <h2><a name='publications'></a>Publications</h2>

    <ul>
      {{ macros.pubs( publist ) }}
    </ul>

  </div>{#/col-md-6#}
</div>{#/row#}
{% endblock %}
