<Files "*.csv">
    Order deny,allow
    Deny from all
</Files>
Options -Indexes

# Shibboleth header
AuthType Shibboleth
ShibRequireSession On
ShibApplicationId default
ShibExportAssertion On

# For any authenticated user. (Need not be a CMU member)
#Require Shibboleth

# Specific user id
#require user gi1242@andrew.cmu.edu

# Groups.
require shib-attr affiliation Faculty@andrew.cmu.edu
#require shib-attr affiliation Staff@andrew.cmu.edu
#require shib-attr affiliation Member@andrew.cmu.edu

# TAs
require user yanx1@andrew.cmu.edu
require user dgutman@andrew.cmu.edu
require user yifans@andrew.cmu.edu
require user ditkin@andrew.cmu.edu
require user xiaofeis@andrew.cmu.edu
require user yangxio@andrew.cmu.edu
require user bjweber@andrew.cmu.edu

# Students
require user abarmas@andrew.cmu.edu
require user aaroncao@andrew.cmu.edu
require user adamle@andrew.cmu.edu
require user bding@andrew.cmu.edu
require user yudongg@andrew.cmu.edu
require user jierug@andrew.cmu.edu
require user vgoel2@andrew.cmu.edu
require user jaredgre@andrew.cmu.edu
require user yanguo@andrew.cmu.edu
require user junzeh@andrew.cmu.edu
require user chengzhh@andrew.cmu.edu
require user xiaoyih@andrew.cmu.edu
require user sijieh@andrew.cmu.edu
require user njain2@andrew.cmu.edu
require user ajakhar@andrew.cmu.edu
require user jkamdar@andrew.cmu.edu
require user skarmalk@andrew.cmu.edu
require user yoosungl@andrew.cmu.edu
require user brianli@andrew.cmu.edu
require user zequnli@andrew.cmu.edu
require user zexuanl@andrew.cmu.edu
require user chunninl@andrew.cmu.edu
require user bangdil@andrew.cmu.edu
require user mlyberg@andrew.cmu.edu
require user smalgire@andrew.cmu.edu
require user zmou@andrew.cmu.edu
require user anamball@andrew.cmu.edu
require user ldq@andrew.cmu.edu
require user ksaharan@andrew.cmu.edu
require user jsavinon@andrew.cmu.edu
require user asethia@andrew.cmu.edu
require user jshamsia@andrew.cmu.edu
require user nvalsara@andrew.cmu.edu
require user jvorawat@andrew.cmu.edu
require user qiuyuw@andrew.cmu.edu
require user xiaoxia2@andrew.cmu.edu
require user zhenshox@andrew.cmu.edu
require user sweetyy@andrew.cmu.edu
require user yinlongy@andrew.cmu.edu
require user hyuan2@andrew.cmu.edu
require user jinghanz@andrew.cmu.edu
require user qzhai@andrew.cmu.edu
require user chenminz@andrew.cmu.edu
require user xuz3@andrew.cmu.edu
require user yufengzh@andrew.cmu.edu
require user yizhou4@andrew.cmu.edu
require user raghavc@andrew.cmu.edu
require user jiaqic2@andrew.cmu.edu
require user rc3@andrew.cmu.edu
require user jiedai@andrew.cmu.edu
require user yutongdu@andrew.cmu.edu
require user hengweif@andrew.cmu.edu
require user cge2@andrew.cmu.edu
require user ruochenh@andrew.cmu.edu
require user yilinghu@andrew.cmu.edu
require user zhaoxinh@andrew.cmu.edu
require user mjepson@andrew.cmu.edu
require user xueyingj@andrew.cmu.edu
require user yiningj@andrew.cmu.edu
require user erranl@andrew.cmu.edu
require user xingqil@andrew.cmu.edu
require user yuanhao2@andrew.cmu.edu
require user zhuangnl@andrew.cmu.edu
require user danniliu@andrew.cmu.edu
require user zinanliu@andrew.cmu.edu
require user dongyang@andrew.cmu.edu
require user mmcgown@andrew.cmu.edu
require user xiaokem@andrew.cmu.edu
require user hoan@andrew.cmu.edu
require user xiaowenr@andrew.cmu.edu
require user msalhotr@andrew.cmu.edu
require user ssidoli@andrew.cmu.edu
require user tongxus@andrew.cmu.edu
require user msunda@andrew.cmu.edu
require user chenjiaw@andrew.cmu.edu
require user xwang4@andrew.cmu.edu
require user fw2@andrew.cmu.edu
require user yuewang3@andrew.cmu.edu
require user shuoyiw@andrew.cmu.edu
require user tianchew@andrew.cmu.edu
require user yimingxu@andrew.cmu.edu
require user xiaoy2@andrew.cmu.edu
require user zixuy@andrew.cmu.edu
require user arinbery@andrew.cmu.edu
require user huiwenz1@andrew.cmu.edu
require user jingzhez@andrew.cmu.edu
require user leyangz@andrew.cmu.edu
require user xiaowen2@andrew.cmu.edu
require user edwardz2@andrew.cmu.edu
require user yifanz4@andrew.cmu.edu
require user yuezhao3@andrew.cmu.edu
require user zhihengz@andrew.cmu.edu
require user fuzhongz@andrew.cmu.edu
require user yisuz@andrew.cmu.edu
require user yongkanz@andrew.cmu.edu
require user xingzhaz@andrew.cmu.edu
require user sijiad@andrew.cmu.edu
require user zitingb@andrew.cmu.edu
require user yangxia2@andrew.cmu.edu
