beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
coloredlogs==15.0
docker==4.4.1
docopt==0.6.2
easywatch==0.0.5
humanfriendly==9.1
idna==2.10
Jinja2==2.11.2
jinja2-markdown==0.0.3
Markdown==3.3.3
markdown-strikethrough==0.1.2
MarkupSafe==1.1.1
mdconverter==0.2.dev1
pypandoc==1.5
requests==2.25.1
six==1.15.0
soupsieve==2.1
staticjinja==0.4.0
urllib3==1.26.2
watchdog==1.0.2
websocket-client==0.57.0
