[DEFAULTS]
# Options common to all environments
site_title:	    %(site_author)s's Website
site_short_title:   %(site_author)s
site_author:	    Patrick Earl
site_email:	    %(author_email)s
site_smtp:	    localhost

author_url:		https://csit.kutztown.edu/~earl
author_email:		earl@kutztown.edu
author_office_bldg:	Old Main
author_office_room:	252
author_office_phone:	610 683 4434

[production]
# Options only set in the production environment.
site_host: csit.kutztown.edu
path_prefix: s
site_prefix: /~earl/%(path_prefix)s
site_rurl: //%(site_host)s%(site_prefix)s
site_url: http:%(site_rurl)s
site_surl: https:%(site_rurl)s
upload: rsync --omit-dir-times --checksum --delete -av out-prod/ csit:~/public_html/s

[local]
# Options only set in the local testing environment.
site_host: localhost:8000
path_prefix:
site_prefix: 
site_rurl: //%(site_host)s%(site_prefix)s
site_url: http:%(site_rurl)s
site_surl: http:%(site_rurl)s

[layouts]
# Regexp matches to choose default layouts
md-grades.j2: ^teaching\/[0-9-]+\/[0-9a-z-]+\/auth/grades\.md
md-class.j2: ^teaching\/[0-9-]+\/[0-9a-z-]+\/(?!firstday).*\.md
md-default.j2: .*

# vim: set ft=yaml:
