[common]
# Options common to all environments
site_title:	    %(site_author)s's Website
site_short_title:   %(site_author)s
site_author:	    Gautam Iyer
site_email:	    %(author_email)s
site_smtp:	    localhost

author_url:		http://www.math.cmu.edu/~gautam
author_email:		gautam@math.cmu.edu
author_office_bldg:	WEH
author_office_room:	6121
author_office_phone:	412 268 8419


[production]
# Options only set in the production environment.
site_host: www.math.cmu.edu
site_prefix: /~gautam/sj
site_rurl: //%(site_host)s%(site_prefix)s
site_url: http:%(site_rurl)s
site_surl: https:%(site_rurl)s
upload: rsync --checksum --delete -av out-prod/ qwe3:WWW/sj/

[local]
# Options only set in the local testing environment.
site_host: localhost:8000
site_prefix:
site_rurl: //%(site_host)s
site_url: http:%(site_rurl)s%(site_prefix)s
site_surl: http:%(site_rurl)s

# vim: set nospell:
