[common]
# Options common to all environments
site_title: Gautam Iyer's Website
site_short_title: Gautam Iyer
site_author: Gautam Iyer
site_email: gautam<span style='display: none'>_NO_SPAM_</span>&commat;math.cmu.edu

[production]
# Options only set in the production environment.
site_host: www.math.cmu.edu
site_prefix: /~gautam/sj
site_rurl: //%(host)s%(prefix)s
site_url: http:%(rurl)s
site_surl = https:%(rurl)s

[local]
# Options only set in the local testing environment.
site_host:
site_prefix:
site_url:
site_rurl:
site_surl:
