{% set assignments = [
    {"name": "Program #1", "file": "prog1.md", "duedate": "09/17", "show": true},
    {"name": "Program #2", "file": "prog2.md", "duedate": "10/01", "show": true},
    {"name": "Program #3", "file": "prog3.md", "duedate": "10/22", "show": true},
    {"name": "Program #4", "file": "prog4.md", "duedate": "11/05", "show": true},
    {"name": "Program #5", "file": "prog5.md", "duedate": "11/12", "show": true},
    {"name": "Program #6", "file": "prog6.md", "duedate": "12/10", "show": true},
    {"name": "Program #7 (HONORS ONLY)", "file": "prog7.md", "duedate": "12/17", "show": true},
] %}