{% set course = {
    'current' : True,
    'abv_title': 'CSC135',
    'abv_name': 'Computer Science I',
    'title' : 'CSC135 - Computer Science I',
    'abv_semester': 'FA21',
    'semester' : 'Fall 2021',
    'lectures' : {
        'time': 'Tues/Thurs 12:00PM - 1:20PM',
        'bldg': 'GR',
        'room': '307',
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3139237',
    'dates' : [
      'Final Exam': 'TBA'
    ]
  }
%}