{% set course = {
    'title' : 'Math 269: Vector Analysis',
    'semester' : 'Spring 2019',
    'email' : 'gi1242+269@cmu.edu',
    'lectures' : {
      'time' : 'MWF 9:30--10:20',
      'bldg' : 'POS',
      'room' : '152'
    },
    'office_hours': 'Mon 10:30--12:00, Fri 1:30--2:30',
    'ta': {
      'name': 'Yuepeng Yang',
      'email': 'yuepengy@andrew.cmu.edu',
      'comment_office': {
	'bldg': 'WEH',
	'room': '7102',
      },
      'name2' : 'Jung Joo Suh',
      'email2' : 'jungjoos@andrew.cmu.edu',
      'office_hours': 'Mon 4:30--5:30, Tue 5:30--7:30 in WEH 6215',
      'recitation':
	'Tu 3:30--4:20pm in WEH 5320 (Sec. A)<br>'
	~ 'Tu 4:30--5:20 in DH 2122 (Sec. B)',
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-269',
      'name': 'math-269'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/s2019-269',
    'dates' : [
      ('Homework due', 'Wednesdays, at the <b>beginning</b> of class. <span class="text-danger">Late homework will not be accepted</span>'),
      ('Midterm 1', 'Wed, Feb 13 (in class)'),
      ('Midterm 2', 'Wed, Mar 27 (in class)'),
      ('Final', 'Tue May 7 1:00pm--4:00pm in SH 125')
    ]
  }
%}
