<Files "*.csv">
    Order deny,allow
    Deny from all
</Files>
Options -Indexes

# Shibboleth header
AuthType Shibboleth
ShibRequireSession On
ShibApplicationId default
ShibExportAssertion On

# For any authenticated user. (Need not be a CMU member)
#Require Shibboleth

# Specific user id
#require user gi1242@andrew.cmu.edu

# Groups.
require shib-attr affiliation Faculty@andrew.cmu.edu
#require shib-attr affiliation Staff@andrew.cmu.edu
#require shib-attr affiliation Member@andrew.cmu.edu

# Graders
require user yuepengy@andrew.cmu.edu
require user ruoyuanl@andrew.cmu.edu

# Students
require user cpbrown@andrew.cmu.edu
require user annacai@andrew.cmu.edu
require user tianyic2@andrew.cmu.edu
require user ercohen@andrew.cmu.edu
require user eeun@andrew.cmu.edu
require user cgaffud@andrew.cmu.edu
require user jgallicc@andrew.cmu.edu
require user ngiulian@andrew.cmu.edu
require user yuqigong@andrew.cmu.edu
require user alishag@andrew.cmu.edu
require user haiweig@andrew.cmu.edu
require user egulsen@andrew.cmu.edu
require user eshe@andrew.cmu.edu
require user xiaolinh@andrew.cmu.edu
require user bwi@andrew.cmu.edu
require user cjacobus@andrew.cmu.edu
require user skhunger@andrew.cmu.edu
require user tkrishna@andrew.cmu.edu
require user yuweilai@andrew.cmu.edu
require user jblee@andrew.cmu.edu
require user edwardli@andrew.cmu.edu
require user boyangly@andrew.cmu.edu
require user jamannin@andrew.cmu.edu
require user jennamil@andrew.cmu.edu
require user bmok@andrew.cmu.edu
require user eprieto@andrew.cmu.edu
require user drotunno@andrew.cmu.edu
require user ssagiraj@andrew.cmu.edu
require user ashung@andrew.cmu.edu
require user lstemmle@andrew.cmu.edu
require user kansun@andrew.cmu.edu
require user ziyangwa@andrew.cmu.edu
require user zhenyuw@andrew.cmu.edu
require user diwu2@andrew.cmu.edu
require user fionax@andrew.cmu.edu
require user andyzhan@andrew.cmu.edu
require user chujiez@andrew.cmu.edu
require user huizhez@andrew.cmu.edu
require user lingxiz@andrew.cmu.edu
require user ericzhen@andrew.cmu.edu
require user xintongq@andrew.cmu.edu
