{% set course = {
    'current' : True,
    'abv_title': 'CSC111',
    'abv_name': 'Computer Forensics',
    'title' : 'CSC111 - Computer Forensics',
    'abv_semester': 'SP21',
    'semester' : 'Spring 2021',
    'lectures' : {
      'time' : 'TuTh 3:00PM - 4:20PM',
      'bldg' : 'OM',
      'room' : '159',
      'zoom': 'https://kutztown.zoom.us/j/98090883144'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3014727',
    'dates' : [
      ('Final Exam Date', 'Tues. May 4 11am - 1pm'),
    ]
  }
%}