{% set course = {
    'current' : True,
    'title' : 'CSC111: Computer Forensics',
    'semester' : 'Spring 2021',
    'lectures' : {
      'time' : 'TuTh 3:00PM - 4:20PM',
      'bldg' : 'OM',
      'room' : '159'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3014727',
    'dates' : [
      ('TBA', 'TBA'),
    ]
  }
%}
