{% set assignments = [
    {"name": "Homework #1", "file": "hw1.md", "duedate": "", "show": true},
    {"name": "Homework #2", "file": "hw2.md", "duedate": "", "show": true},
    {"name": "Homework #3", "file": "hw3.md", "duedate": "", "show": true},
    {"name": "Homework #4", "file": "hw4.md", "duedate": "", "show": true},
    {"name": "Homework #5", "file": "hw5.md", "duedate": "", "show": true},
] %}