{% set course = {
    'current' : True,
    'abv_title': 'CSC252',
    'abv_name': 'UNIX: Scripting and Administration',
    'title' : 'CSC252 - UNIX: Scripting and Administration',
    'abv_semester': 'SUMM2021 - S1',
    'semester' : 'Summer 2021 - Session 1',
    'lectures' : {
      'time': 'Wed. 11 AM - 12 PM',
      'bldg': 'Recitation Session',
      'room': '',
      'zoom': 'https://kutztown.zoom.us/j/92116392026'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3116863',
  }
%}