{% set course = {
    'title' : 'Math 269: Vector Analysis',
    'semester' : 'Spring 2017',
    'email' : 'gi1242+269@cmu.edu',
    'lectures' : {
      'time' : 'MWF 11:30-12:20',
      'bldg' : 'WEH',
      'room' : '5320'
    },
    'office_hours': 'Mon 3:30--4:20, Fri 2:00--3:00',
    'ta': {
      'name': 'Adrian Haggerty',
      'email': 'ahagerty@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7102',
      },
      'office_hours': 'Tu 5:30-6:30, Fri 4:00--5:00',
      'recitation': {
	'time' : 'Tu 4:30--5:20',
	'bldg' : 'DH',
	'room' : '1209'
      }
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-269',
      'name': 'math-269'
    },
    'anonymous_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-269-discuss',
      'name': 'math-269-discuss'
    },
    'dates' : [
      ('Homework due', 'Wednesdays, at the <b>beginning</b> of class. <span class="text-danger">Late homework will not be accepted</span>'),
      ('Midterm 1', 'Wed, Feb 22 (in class)'),
      ('Midterm 2', 'Wed, Apr 5 (in class)'),
      ('Final', 'Tue, May 9 1:00--4:00PM in PH 125C')
    ]
  }
%}
