{% set old_teaching = 'https://csit.kutztown.edu/~earl/archive/' %}
{% set courses = (
    (101, 'Computer Applications', (

    )),

    (111, 'Computer Forensics', (
        (2021, 's', '2020-2021/111-comp-foren'),
    )),
    
    (120, 'Introduction to Creative Graphical Coding', (
        (2021, 's', '2020-2021/120-graph-coding'),
    )),

    (123, 'Introduction Secientfic Programming', (
        (2020, 's', old_teaching ~ 'SP2020/CSC223'),
    )),

    (135, 'Computer Science I', (
        (2020, 'f', old_teaching ~ 'FA2020/CSC135/'),
    )),

    (223, 'Advanced Scientific Programming', (
        (2021, 's', '2020-2021/223-adv-sci-program'),
    )),

    (252, 'UNIX: Scripting & Administration', (
        (2021, 's', '2020-2021/252-unix-admin'),
        (2020, 's', old_teaching ~ 'SP2020/CSC252/'),
    )),

    (311, 'Computer Networks', (
        (2020, 'f', old_teaching ~ 'FA2020/CSC311/'),
    )),

  ) %}
{# {% set cur_index = () %} #}
{# Use this to set the current courses! #}
{# Don't try to index stuff either :> #}
{% set cur_index = ( (1, 0), (2, 0), (5, 0), (6, 0), ) %}
{% macro md_current_courses() -%}
{% for i, j in cur_index -%}
{%- set c = courses[i] %}
{%- set (cn, ct, cl) = (c[0], c[1], 'teaching/' ~ c[2][j][2]) %}
* [{{ ('CSC' ~cn~': ' if cn else '' ) ~ ct}}]({{cl}})
{%- endfor %}
{% endmacro %}

{% macro md_current_courses_long() -%}
{% for i, j in cur_index -%}
    {% set (cn, ct) = (courses[i][0], courses[i][1]) -%}
    {% set (cy, cs, cl) = courses[i][2][j] -%}
    {% if cs == 's' -%}
        {% set cs = 'Spring, ' -%}
    {% elif cs == 'f' -%}
        {% set cs = 'Fall, ' -%}
    {% else -%}
        {% set cs = '' -%}
    {% endif -%}
* [{{- ('CSC' ~cn~': ' if cn else '') ~ ct}} ({{cs ~ cy}})]({{cl -}})
{% else -%}
I'm not teaching this semester.
{%- endfor %}
{% endmacro %}
