{% set old_teaching = 'http://www.math.cmu.edu/~gautam/teaching' %}
{% set old_research = 'http://www.math.cmu.edu/~gautam/research' %}
{% set courses = (
    ( 268, 'Multidimensional Calculus', (
	( 2015, 'f', '2015-16/268-multid-calc' ),
    )),
    ( 269, 'Vector Analysis', (
	( 2012, 's', old_teaching ~ '/2011-12/269-vector-analysis/' ),
	( 2017, 's', '2016-17/269-vector-analysis/' ),
    )),
    ( 272, "Introduction to PDE's", (
	( 2015, 'f', '2015-16/272-pde' ),
    )),
    ( 341, 'Linear algebra', (
	( 2009, 'f', old_teaching ~ '/2009-10/341-linear-algebra/' ),
	( 2011, 's', old_teaching ~ '/2010-11/341-linear-algebra/' ),
    )),
    ( 372, "PDE's and Fourier Analysis", (
	( 2012, 's', old_teaching ~ '/2011-12/372-pde/' ),
	( 2013, 's', old_teaching ~ '/2012-13/372-pde/' ),
	( 2014, 's', old_teaching ~ '/2013-14/372-pde/' ),
    )),
    ( 720, "Measure Theory", (
	( 2012, 'f', old_teaching ~ '/2012-13/720-measure/' ),
	( 2013, 'f', old_teaching ~ '/2013-14/720-measure/' ),
	( 2014, 'f', old_teaching ~ '/2014-15/720-measure/' ),
    )),
    ( 880, "Stochastic Calculus", (
	( 2010, 'f', old_teaching ~ '/2010-11/880-advanced-scalc1/' ),
	( 2011, 'f', old_teaching ~ '/2011-12/880-advanced-scalc/' ),
	( 2012, 'f', old_teaching ~ '/2012-13/880-scalc/' ),
	( 2013, 'f', old_teaching ~ '/2013-14/880-scalc/' ),
    )),
    ( 881, "Advanced Stochastic Calculus II", (
	( 2010, 's', old_teaching ~ '/2009-10/881-advanced-scalc2/' ),
    )),
    ( 944, "Stochastic Calculus for Finance 1", (
	( 2017, 's', '2016-17/944-scalc-finance1/' ),
	( 2017, 'f', '2017-18/944-scalc-finance1/' ),
    )),
    ( 0, "Fluids working group", (
	( 2012, 'f', old_research ~ '/201208-fluids-working-group' ),
	( 2016, 'f', '2016-17/fluids-wg/' ),
    )),
  ) %}
{# {% set cur_index = () %} #}
{% set cur_index = ( (8,1), ) %}
{% macro md_current_courses() %}
  {% for i, j in cur_index %}
  {% set c = courses[i] -%}
  {% set (cn, ct, cl) = (c[0], c[1], 'teaching/' ~ c[2][j][2]) -%}
* [{{ ( cn~': ' if cn else '' ) ~ ct}}]({{cl}})

  {% endfor %}
{% endmacro %}
{% macro md_current_courses_long() %}
  {% for i, j in cur_index -%}
    {% set (cn, ct) = (courses[i][0], courses[i][1]) -%}
    {% set (cy, cs, cl) = courses[i][2][j] -%}
    {% if cs == 's' -%}
      {% set cs = 'Spring, ' -%}
    {% elif cs == 'f' -%}
      {% set cs = 'Fall, ' -%}
    {% else -%}
      {% set cs = '' -%}
    {% endif -%}
* [{{ (cn~': ' if cn else '') ~ ct}} ({{cs ~ cy}})]({{cl}})

  {% else -%}
I'm not teaching this semester.
  {% endfor %}
{% endmacro %}
