{% set old_teaching = 'http://www.math.cmu.edu/~gautam/teaching' %}
{% set old_research = 'http://www.math.cmu.edu/~gautam/research' %}
{% set courses = (
    ( 269, 'Vector Analysis', (
	( 2012, 's', old_teaching ~ '/2011-12/269-vector-analysis/' ),
    )),
    ( 341, 'Linear algebra', (
	( 2009, 'f', old_teaching ~ '/2009-10/341-linear-algebra/' ),
	( 2011, 's', old_teaching ~ '/2010-11/341-linear-algebra/' ),
    )),
    ( 372, "PDE's and Fourier Analysis", (
	( 2012, 's', old_teaching ~ '/2011-12/372-pde/' ),
	( 2013, 's', old_teaching ~ '/2012-13/372-pde/' ),
	( 2014, 's', old_teaching ~ '/2013-14/372-pde/' ),
    )),
    ( 720, "Measure Theory", (
	( 2012, 'f', old_teaching ~ '/2012-13/720-measure/' ),
	( 2013, 'f', old_teaching ~ '/2013-14/720-measure/' ),
	( 2014, 'f', old_teaching ~ '/2014-15/720-measure/' ),
    )),
    ( 820, "Stochastic Calculus", (
	( 2010, 'f', old_teaching ~ '/2010-11/880-advanced-scalc1/' ),
	( 2011, 'f', old_teaching ~ '/2011-12/880-advanced-scalc/' ),
	( 2012, 'f', old_teaching ~ '/2012-13/880-scalc/' ),
	( 2013, 'f', old_teaching ~ '/2013-14/880-scalc/' ),
    )),
    ( 881, "Advanced Stochastic Calculus II", (
	( 2010, 's', old_teaching ~ '/2009-10/881-advanced-scalc2/' ),
    )),
    ( 0, "Fluids working group", (
	( 2012, 'f', old_research ~ '/201208-fluids-working-group' ),
    )),
  ) %}

