{% extends 'layouts/sidenav.j2' %}
{% from 'teaching/courses.j2' import courses %}
{% from 'teaching/courses.j2' import old_teaching %}
{% from 'teaching/sections.j2' import secs %}
{% set active = 'teaching' %}
{% block main_column %}
  <div>
{% markdown %}
<h2 id='courses'>{{secs.courses}}</h2>{# {{{1 #}

<h3 id='current_courses'>{{secs.current_courses}}</h3>

I'm not teaching this semester

<h3 id='previous_courses'>{{secs.previous_courses}}</h3>

These are websites from all courses I have taught at CMU.
The homework, exams and syllabus should be accessible to anyone.
Solutions of more recent courses should be accessible to CMU faculty.

<dl class='dl-horizontal'>{# {{{ #}
  {% for (cn, ct, rest) in courses %}
    <dt>{{(cn ~ ': ') if cn else ''}}{{ct}}</dt>
    <dd>
      <ul class='list-inline'>
        {% for (cy, cs, cl) in rest %}
          <li>
            <a href='{{cl}}'>
              {{ 'Spring' if cs == 's' else
                  ( 'Fall' if cs == 'f' else cs ) }}
              {{cy}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>{# }}} #}

<h2 id='lecture_notes'>{{secs.lecture_notes}}</h2>{# {{{1 #}

*   [Undergraduate PDE](http://wiki.math.cmu.edu/iki/2014-372/)
    (See also the [class website]({{old_teaching}}/2013-14/372-pde/) for
    problems and references. I have LaTeX solutions to all problems, which I
    can share with instructors who are interested.)

    These notes are a "free and open source" wiki.
    If you'd like to modify them heavily and use them in your own course, you can
    [clone the repository](http://wiki.math.cmu.edu/gitweb-pub/?p=2014-372-wiki.git;a=summary)
    (or ask me to host a cloned copy for you).

<h2 id='student_projects'>{{secs.student_projects}}</h2>{# {{{1 #}

<h3 id='student_lecture_notes'>{{secs.student_projects}}</h3>{# {{{2 #}

These lecture notes have been <span class='text-primary'>written entirely by
students</span> while taking courses taught by me. They are all open-sourced,
meaning you are free to edit, modify and redistribute them (under the terms
stated in the respective licenses).

All credit (or blame?) for these notes goes to the students who wrote them.
(My only contribution is teaching the course and setting up the websites to host them.)

* Measure Theory:

    * [Lecture notes by Eugene Choi (2013/14)]({{old_teaching}}/2013-14/720-measure/pdfs/eugenes-notes.pdf")

    * [Lecture notes by Adam Gutter (2014/15)]({{old_teaching}}/2014-15/720-measure/pdfs/adams-notes.pdf')

    * [The LaTeX source for both notes](http://wiki.math.cmu.edu/gitweb-pub/?p=201312-measure.git;a=summary)

    * [Class website]({{old_teaching}}/2014-15/720-measure/)

* Stochastic Calculus:

    * [Lecture notes wiki](https://lecturenotes.math.cmu.edu/mediawiki/index.php/Stochastic_Calculus_(Fall_2012))
      by Ryan Murray, Jimmy Murphy and others.

    * [Class website]({{old_teaching}}/2013-14/880-scalc/)

<h3 id='masters_thesis'>{{secs.masters_thesis}}</h3>{# {{{2 #}

* [James T. Murphy III](http://intfxdx.com/),
  *Resolving the one-dimensional autonomous flow-free explosion problem*
  (Published in [SIURO](http://www.siam.org/students/siuro/vol7/index.php)
  [here](http://www.siam.org/students/siuro/vol7/S01319.pdf).)

{# }}}1 #}
{% endmarkdown %}
  </div><!-- /lead -->
{% endblock %}
{% block nav_column %}{# {{{ #}
  <div class='toc'>
    {% markdown %}
    * [{{secs.courses}}](#courses)
        * [{{secs.current_courses}}](#current_courses)
        * [{{secs.previous_courses}}](#previous_courses)
    * [{{secs.lecture_notes}}](#lecture_notes)
    * [{{secs.student_projects}}](#student_projects)
        * [{{secs.student_lecture_notes}}](#student_lecture_notes)
        * [{{secs.masters_thesis}}](#masters_thesis)
    {% endmarkdown %}
  </div>
{% endblock %}{# }}} #}
