{% set secs = {
    'current_courses'	: 'Current Courses',
    'previous_courses'	: 'Course Websites',
    'lecture_notes'	: 'Lecture Notes',
    'student_projects'	: 'Student Projects',
    'student_lecture_notes' : 'Student Lecture Notes',
    'masters_thesis'	: 'Masters Thesis',
    'phd_thesis'	: 'Ph.D. Thesis',
  }
%}
