{% set course = {
    'current' : False,
    'abv_title': 'CSC252',
    'abv_name': 'UNIX: Scripting and Administration',
    'title' : 'CSC252 - UNIX: Scripting and Administration',
    'abv_semester': 'SP21',
    'semester' : 'Spring 2021',
    'lectures' : {
      'time' : 'TuTh 4:30PM - 5:50PM',
      'bldg' : 'OM',
      'room' : '159',
      'zoom': 'https://kutztown.zoom.us/j/99040235420'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3014685',
    'dates' : [
      ('Homework', 'Due by 11:59PM of Due Date'),
      ('Final Exam Date', 'Thurs. May 6 2pm - 4pm'),
    ]
  }
%}