{% set course = {
    'current' : True,
    'abv_title': 'CSC252',
    'abv_name': 'UNIX: Scripting and Administration',
    'title' : 'CSC252 - UNIX: Scripting and Administration',
    'abv_semester': 'SP22',
    'semester' : 'Spring 2022',
    'lectures' : {
      'time' : 'Tues/Thurs 12:00PM-1:20PM',
      'bldg' : 'OM',
      'room' : '159'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3216813',
    'dates' : [
      ('Assignments', 'Due by 11:00PM of Due Date'),
      ('Exam 1', 'Tuesday, March 8th'),
      ('Exam 2', 'TBD'),
      ('Final Exam', 'Tuesday May 10th - 8:00AM - 10:00AM'),
    ]
  }
%}