{% set assignments = [
    {"name": "Assignment #1", "file": "assignment1.pdf", "duedate": "02/20", "show": true},
    {"name": "Assignment #2", "file": "assignment2.pdf", "duedate": "03/19", "show": true},
] %}