{% set assignments = [
    {"name": "Assignment #1", "file": "assignment1.pdf", "duedate": "02/20", "show": true},
    {"name": "Assignment #2", "file": "assignment2.pdf", "duedate": "03/19", "show": true},
    {"name": "Assignment #3", "file": "assignment3.pdf", "duedate": "04/16", "show": true},
    {"name": "Assignment #4", "file": "assignment4.pdf", "duedate": "04/30", "show": true},
] %}