{% set course = {
    'current' : True,
    'abv_title': 'CSC120',
    'abv_name': 'Introduction to Creative Coding',
    'title' : 'CSC120 - Introduction to Creative Coding',
    'abv_semester': 'SP21',
    'semester' : 'Spring 2021',
    'lectures' : {
      'time' : 'TuTh 12:00PM - 1:20PM',
      'bldg' : 'OM',
      'room' : '158',
      'zoom': 'https://kutztown.zoom.us/j/97156499362'
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3050845',
    'dates' : [
      ('Assignments', 'Due by 11:59PM of the Due Date'),
      ('Final Exam Date', 'Tues. May 4 8am - 10 am'),
    ]
  }
%}