{% import '_includes/site' as site %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#
      The above 3 meta tags *must* come first in the head; any other head
      content must come *after* these tags
    #}
    <meta name="author" content="{{ site.author }}">
    <title>
      {{ ( title or site.title ) | striptags | default( 'No Title' )}}
    </title>

    {% block stylesheets %}
      {% set min = '.min' if dev_env == 'production' else '' -%}
      <link rel="stylesheet"
	href="{{site.prefix}}/static/bootstrap/css/bootstrap{{min}}.css">
      <link rel="stylesheet"
	href="{{site.prefix}}/static/css/pygments-theme.css">
      <link rel="stylesheet" href="{{site.prefix}}/static/css/local.css">
    {% endblock %}

    {#
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
      queries. WARNING: Respond.js doesn't work if you view the page via
      file://
    #}
    {% set min = '.min' if dev_env == 'production' else '' -%}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv{{min}}.js">
      </script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond{{min}}.js">
      </script>
    <![endif]-->
  </head>
  <body {% block bodyargs %}{% endblock %}>
    {% block nav %}
      {#
	Jinja2 bug: Need to access these variables here, otherwise they don't
	show up in included files.
      #}
      <!-- {{ site.short_title }} / {{ active }} -->
      {% include '_layouts/frag/nav.html' %}
    {% endblock %}

    <div class='container'>
      {% block body %}
	<h1>{{title | default("No Title.") }}</h1>
	<p class='lead'>Default body block goes here.</p>
	{{ lipsum() }}
      {% endblock %}
    </div>

    {% block footer %}
      {#
	Jinja2 bug: Need to access these variables here, otherwise they don't
	show up in included files.
      #}
      <!-- {{ site.short_title }} / {{page_footer|e}} -->
      {% include '_layouts/frag/footer.html' %}
    {% endblock %}

    {# Hopefully this will inherit the needs_mathjax variable #}
    {% block scripts scoped %}
      {# jQuery (necessary for Bootstrap's JavaScript plugins) #}
      {% if dev_env == 'production' %}
	{% set min = '.min' %}
	{% set jquery_cdn = 'https://ajax.googleapis.com/ajax/libs/jquery' %}
      {% else %}
	{% set min = '' %}
	{% set jquery_cdn = site.url ~ '/static/jquery' %}
      {% endif %}
      <script
	src="{{jquery_cdn}}/1.11.2/jquery{{min}}.js">
      </script>
      {#
	Include all compiled plugins (below), or include individual files as
	needed
      #}
      <script
	src="{{site.url}}/static/bootstrap/js/bootstrap{{min}}.js">
      </script>
      {% if needs_mathjax %}
	<script src='{{site.url}}/static/js/mathjax-config.js'></script>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
	<script src='{{site.url}}/static/js/local.js'></script>
      {% endif %}
    {% endblock scripts %}
  </body>
</html>
