{% extends "_layouts/base.html" %}
  {% block body %}
    <div class='lead'>
      <h1>{{title|default('Set title to the document title')}}</h1>

      <h2>Contents</h2>
      {{toc}}{# Looks like:<div class='toc'><ul>...</ul></div> #}

      {{content}}
    </div>
  {% endblock body %}
  {% block scripts %}
    {{ super() }}
    <script src='{{site.url}}/static/js/mathjax-config.js'></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  {% endblock %}
{# vim: set ft=htmldjango: #}
