# Shibboleth header
AuthType Shibboleth
ShibRequireSession On
ShibApplicationId default
ShibExportAssertion On

# For any authenticated user. (Need not be a CMU member)
#Require Shibboleth

# Specific user id
#require user gi1242@andrew.cmu.edu

# Groups.
require shib-attr affiliation Faculty@andrew.cmu.edu
#require shib-attr affiliation Staff@andrew.cmu.edu
#require shib-attr affiliation Member@andrew.cmu.edu

# TAs
require user yanx1@andrew.cmu.edu
require user pkolli@andrew.cmu.edu
require user dgutman@andrew.cmu.edu
require user yifans@andrew.cmu.edu
require user ditkin@andrew.cmu.edu
require user xiaofeis@andrew.cmu.edu

# Students
require user kbeyer@andrew.cmu.edu
require user schandri@andrew.cmu.edu
require user yunand@andrew.cmu.edu
require user lduarteb@andrew.cmu.edu
require user neterovi@andrew.cmu.edu
require user jgiebas@andrew.cmu.edu
require user tusharg1@andrew.cmu.edu
require user xipuh@andrew.cmu.edu
require user xinhuih1@andrew.cmu.edu
require user ejian@andrew.cmu.edu
require user yunqingj@andrew.cmu.edu
require user sailk@andrew.cmu.edu
require user elanauro@andrew.cmu.edu
require user yunyaol@andrew.cmu.edu
require user slin1@andrew.cmu.edu
require user kaiekl@andrew.cmu.edu
require user ruochonl@andrew.cmu.edu
require user yiliem@andrew.cmu.edu
require user kmei@andrew.cmu.edu
require user hoberoi@andrew.cmu.edu
require user epearces@andrew.cmu.edu
require user aprevic@andrew.cmu.edu
require user liyunshq@andrew.cmu.edu
require user drojasco@andrew.cmu.edu
require user jskillma@andrew.cmu.edu
require user ssoltani@andrew.cmu.edu
require user wenshuos@andrew.cmu.edu
require user qis@andrew.cmu.edu
require user htoda@andrew.cmu.edu
require user chifengt@andrew.cmu.edu
require user liw2@andrew.cmu.edu
require user hwen2@andrew.cmu.edu
require user mingxuaw@andrew.cmu.edu
require user shuyingw@andrew.cmu.edu
require user yurongx@andrew.cmu.edu
require user mengdax@andrew.cmu.edu
require user haiyiny1@andrew.cmu.edu
require user wangshuy@andrew.cmu.edu
require user yy5@andrew.cmu.edu
require user xiaoz3@andrew.cmu.edu
require user yixinz2@andrew.cmu.edu
require user yumengz@andrew.cmu.edu
require user yuyaoz@andrew.cmu.edu
require user zhaohuiz@andrew.cmu.edu
require user lzhao2@andrew.cmu.edu
require user yao@andrew.cmu.edu
require user tbalavij@andrew.cmu.edu
require user weiaod@andrew.cmu.edu
require user rdreizer@andrew.cmu.edu
require user nfrost@andrew.cmu.edu
require user zhihang@andrew.cmu.edu
require user bguo@andrew.cmu.edu
require user mingzheg@andrew.cmu.edu
require user fenggeh@andrew.cmu.edu
require user yhu2@andrew.cmu.edu
require user shuranh@andrew.cmu.edu
require user miaoyual@andrew.cmu.edu
require user zhongyal@andrew.cmu.edu
require user hliang1@andrew.cmu.edu
require user yundongl@andrew.cmu.edu
require user gliu1@andrew.cmu.edu
require user sidil1@andrew.cmu.edu
require user yuzel@andrew.cmu.edu
require user shangshl@andrew.cmu.edu
require user zhoul1@andrew.cmu.edu
require user ylu3@andrew.cmu.edu
require user zmei@andrew.cmu.edu
require user siliangn@andrew.cmu.edu
require user zhengyaq@andrew.cmu.edu
require user fenq@andrew.cmu.edu
require user fquimby@andrew.cmu.edu
require user gravi@andrew.cmu.edu
require user xuer@andrew.cmu.edu
require user rrosenba@andrew.cmu.edu
require user rshen1@andrew.cmu.edu
require user zhongwes@andrew.cmu.edu
require user haozes@andrew.cmu.edu
require user esumner@andrew.cmu.edu
require user bins@andrew.cmu.edu
require user hanzhew@andrew.cmu.edu
require user tianjiaw@andrew.cmu.edu
require user weizhouw@andrew.cmu.edu
require user xinranw1@andrew.cmu.edu
require user rwei1@andrew.cmu.edu
require user gew1@andrew.cmu.edu
require user qiyangx@andrew.cmu.edu
require user lyan1@andrew.cmu.edu
require user linglony@andrew.cmu.edu
require user zey@andrew.cmu.edu
require user mengjiay@andrew.cmu.edu
require user kailey@andrew.cmu.edu
require user yany2@andrew.cmu.edu
require user rishengz@andrew.cmu.edu
require user zhiyiz@andrew.cmu.edu
require user weiliz1@andrew.cmu.edu
require user kzhao@andrew.cmu.edu
require user yutingz@andrew.cmu.edu
require user dzhong@andrew.cmu.edu
require user fangqiuz@andrew.cmu.edu
require user jianing1@andrew.cmu.edu
