{% set course = {
    'current' : False,
    'abv_title': 'CSC223',
    'abv_name': 'Advanced Scientific Programming',
    'title' : 'CSC223 - Advanced Scientific Programming',
    'abv_semester': 'SP21',
    'semester' : 'Spring 2021',
    'lectures' : [
        'Section 10: MWF 11:00 AM - 11:50 AM in OM 159 & via <a href="https://kutztown.zoom.us/j/98763710941">Zoom</a>',
        'Section 20: MWF 12:00 PM - 12:50 PM in OM 159 & via <a href="https://kutztown.zoom.us/j/99772369888">Zoom</a>'
    ],
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3014689',
    'dates' : [
      ('Assignments', 'Due at 11:59 PM on Due Date'),
      ('Final Exam - Section 10', 'Wed. May 5 8am - 10am'),
      ('Final Exam - Section 20', 'Wed. May 5 11am - 1pm')
    ]
  }
%}