/* For fixed top navbar */
/*
body {
  padding-top: 50px;
}
*/

/* For static top nav-bar */
body > div.jumbotron { margin-top: -20px }

.smallskip { margin-top: .5em }
.medskip { margin-top: 1em }
.bigskip { margin-top: 2em }
.biggskip { margin-top: 3em }

/* div.container p {text-align: justify} */
.hyphenate {
  -webkit-hyphens:  auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

img.float-left {
  /* padding: 0ex .5ex .5ex 0ex; */
  padding-right: 10px;
  padding-top: 10px;
  float: left;
  clear: left;
}

.tight-float-right {
  float: right;
  clear: right;
}

/* Right navigation {{{ */
nav.nav > div.toc ul {
  list-style: none;
  padding-left: 2ex;
  white-space: nowrap;
  overflow-x: hidden;
}

nav.nav > div.toc ul ul {
  font-size: 90%;
}

nav.nav > div.toc ul ul ul ul {
  font-size: 100%;
}

.toc ul li.active {
  font-weight: bold;
}

.toc ul li {
  font-weight: normal;
}

.affix {
  top: 0px;
}
/* }}} */
