/* For fixed top navbar */
/*
body {
  padding-top: 50px;
}
*/

/* For static top nav-bar */
body > div.jumbotron { margin-top: -20px }

.smallskip { margin-top: .5em }
.medskip { margin-top: 1em }
.bigskip { margin-top: 2em }
.biggskip { margin-top: 3em }

/* div.container p {text-align: justify} */
.hyphenate {
  -webkit-hyphens:  auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

img.float-left {
  /* padding: 0ex .5ex .5ex 0ex; */
  padding-right: 10px;
  padding-top: 10px;
  float: left;
  clear: left;
}

.tight-float-right {
  float: right;
  clear: right;
}

/* Right navigation {{{ */
#side-nav-col .toc ul {
  list-style: none;
  padding-left: 2ex;
  white-space: nowrap;
  overflow-x: hidden;
}

#side-nav-col .toc ul ul {
  font-size: 90%;
}

#side-nav-col .toc ul ul ul ul {
  font-size: 100%;
}

.toc ul li.active {
  font-weight: bold;
}

.toc ul li {
  font-weight: normal;
}

/* sm and xs devices */
@media only screen and (max-width:991px){
  #side-nav-col > .affix {
    /* Don't affix right side navigation! The columns are stacked */
    position: static;
    /* width: auto;
    top: 0; */
  }
}

/* md and lg devices */
@media only screen and (min-width : 992px) {
  .affix {
    top: 0px;
  }
}

/* }}} */
