/* For fixed top navbar */
/*
body {
  padding-top: 50px;
}
*/

/* div.container p {text-align: justify} */
.hyphenate {
  -webkit-hyphens:  auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.toc ul {
  list-style: none;
  padding-left: 2ex
}

.toc ul li.active {
  font-weight: bold;
}

.toc ul li {
  font-weight: normal;
}

.affix {
  top: 0px;
}
