<Files "*.csv">
    Order deny,allow
    Deny from all
</Files>
Options -Indexes

# Shibboleth header
AuthType Shibboleth
ShibRequireSession On
ShibApplicationId default
ShibExportAssertion On

# For any authenticated user. (Need not be a CMU member)
#Require Shibboleth

# Specific user id
#require user gi1242@andrew.cmu.edu

# Groups.
require shib-attr affiliation Faculty@andrew.cmu.edu
#require shib-attr affiliation Staff@andrew.cmu.edu
#require shib-attr affiliation Member@andrew.cmu.edu

# Graders
require user jungjoos@andrew.cmu.edu
require user yuepengy@andrew.cmu.edu

# Students
require user ibrowne@andrew.cmu.edu
require user yuncheng@andrew.cmu.edu
require user minsungc@andrew.cmu.edu
require user yuchengd@andrew.cmu.edu
require user nddalal@andrew.cmu.edu
require user zihaoden@andrew.cmu.edu
require user leitingd@andrew.cmu.edu
require user evanfang@andrew.cmu.edu
require user afogelso@andrew.cmu.edu
require user sjgibson@andrew.cmu.edu
require user yuhengg@andrew.cmu.edu
require user ehou@andrew.cmu.edu
require user sjaiswa2@andrew.cmu.edu
require user jtjenkin@andrew.cmu.edu
require user jiejiao@andrew.cmu.edu
require user zkuang@andrew.cmu.edu
require user evelynk@andrew.cmu.edu
require user cnl2@andrew.cmu.edu
require user eleehuaj@andrew.cmu.edu
require user ztlee@andrew.cmu.edu
require user drli@andrew.cmu.edu
require user zhenjunl@andrew.cmu.edu
require user yudongl@andrew.cmu.edu
require user yuxuanli@andrew.cmu.edu
require user aylu@andrew.cmu.edu
require user ethanlu@andrew.cmu.edu
require user sslu1@andrew.cmu.edu
require user soumilm@andrew.cmu.edu
require user womais@andrew.cmu.edu
require user npipiton@andrew.cmu.edu
require user ajramire@andrew.cmu.edu
require user arausch@andrew.cmu.edu
require user dsalgado@andrew.cmu.edu
require user jdstepp@andrew.cmu.edu
require user antianw@andrew.cmu.edu
require user nwatson@andrew.cmu.edu
require user ywu5@andrew.cmu.edu
require user ziyuzhan@andrew.cmu.edu
require user zaixingz@andrew.cmu.edu
require user hongyizh@andrew.cmu.edu
