{% set assignments = [
    {"name": "Homework #1", "file": "hw1.md", "duedate": "09/17", "show": true},
    {"name": "Intro Wireshark lab", "file": "Intro_Wireshark.pdf", "duedate": "In-Class", "show": true},
    {"name": "HTTP Wireshark Lab", "file": "HTTP_Wireshark.pdf", "duedate": "09/24", "show": true},
] %}