{% set course = {
    'current' : True,
    'abv_title': 'CSC311',
    'abv_name': 'Computer Networks',
    'title' : 'CSC311 - Computer Networks',
    'abv_semester': 'FA21',
    'semester' : 'Fall 2021',
    'lectures' : [
      'Section 10: MWF 10:00AM - 10:50AM GR307',
      'Section 20: MWF 11:00AM - 11:50AM GR307',
    ],
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3139191',
    'dates' : [
      'Final Exam': 'TBA'
    ]
  }
%}