{% set course = {
    'current' : True,
    'abv_title': 'CSC411',
    'abv_name': 'Advanced Computer Networks (IS)',
    'title' : 'CSC411 - Advanced Computer Networks (IS)',
    'abv_semester': 'SP22',
    'semester' : 'Spring 2022',
    'lectures' : "No Scheduled Meeting Time",
    'dates' : [
      ('TBD', 'TBD')
    ]
  }
%}