{%- import 'includes/site.j2' as site -%}
{%- macro nav_bar(active) -%}
  {# Static top navbar #}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class='container'>
      <a class="navbar-brand" href="{{site_url}}">{{site_short_title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbar">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse small" id="navbar">
	{% for nb in (site.navbar_left, site.navbar_right) -%}
	  <ul class="navbar-nav {{'mr-auto' if loop.first else ''}}">
	    {% for href, caption in nb -%}
	      <li class='nav-item
		  {%- if href == active %} active
		  {%- elif not href %} disabled
		  {%- endif %}'>
		<a class='nav-link
		      {{- ' pr-0' if loop.last else ''}}
		      {%- if href == active %} active
		      {%- elif not href %} disabled
		      {%- else %} text-secondary
		      {%- endif %}'
		    href="{{get_link( href, false) if href else '#'}}">
		  {{- caption -}}
		</a>
	      </li>
	    {% endfor -%}
	  </ul>
	{%- endfor -%}
      </div>
    </div>
  </nav>
{%- endmacro -%}
