{% set course = {
    'title' : 'Math 268: Multidimensional Calculus',
    'email' : 'gi1242+268@cmu.edu',
    'lectures' : {
      'time' : 'MWF 3:30-4:20',
      'bldg' : 'WEH',
      'room' : '5312'
    },
    'office_hours': 'TBA',
    'ta': {
      'name': 'Son Van',
      'url': 'http://sonv.github.io/teaching/2015-08-25-fall',
      'email': 'vansp@cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '8205',
      },
      'office_hours': 'TBA',
      'recitation': {
	'time' : 'Tu 3:30-4:20',
	'bldg' : 'WEH',
	'room' : '5320'
      }
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-268',
      'name': 'math-268'
    },
    'dates' : [
      ('Homework due', 'Wednesdays, at the <b>beginning</b> of class. <span class="text-danger">Late homework will not be accepted</span>'),
      ('Midterm 1', 'Wed, Sep 30 (in class)'),
      ('Midterm 2', 'Wed, Nov 4 (in class)'),
      ('Final', 'TBA')
    ]
  }
%}
