{% set course = {
    'current' : True,
    'abv_title': 'CSC105',
    'abv_name': 'Intro to Data Visaulization',
    'title' : 'CSC105 - Introduction to Data Visualization',
    'abv_semester': 'FA21',
    'semester' : 'Fall 2021',
    'lectures' : {
        'time': 'MWF 2:00PM - 2:50PM',
        'bldg': 'OM',
        'room': '159',
    },
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3139249',
    'dates' : [
    ]
  }
%}