{% extends "layouts/base.j2" %}
{% import "includes/macros.j2" as macros %}
{% import "includes/publist.j2" as p %}
{% set active = 'research' %}
{% set title = 'Research Interests and Publications' %}

{% block body %}
<h1>{{title}}</h1>

<div class='text-justify hyphenate'>
  <div class='row'>
    <div class='col-md-8'>
      {# {{{ #}
      <div class='media lead'>
	<h2>Research Interests</h2>
	<div class='media-left'>
	  <img class='media-object img-rounded hidden-xs'
	      src='img/mixing-diag-sol6.jpg'>
	  <img class='media-object img-rounded visible-xs-inline'
	      src='img/mixing-diag-sol6-xs.jpg'>
	</div>
	<div class='media-body text-justify hyphenate'>
	  {% markdown %}
	    My research concerns **"Theoretical Applied Math"** using tools from
	    <em class='text-primary'>partial differential equations</em> and 
	    <em class='text-primary'>probability</em>.
	    More specifically, I've studied on a variety of problems related to
	    anomalous diffusion,
	    coagulation,
	    fluid mechanics,
	    homogenization,
	    Q-tensors
	    and
	    mixing.
	  {% endmarkdown %}
	</div><!-- /media-body -->
      </div>{# /media #}
      {# }}} #}
    </div>{# /col-md-9 #}
    <div class='col-md-4'>
      {# {{{
      {% markdown %}
	## Research Description

	<img class='img-rounded float-left hidden-xs'
	    src='img/mixing-diag-sol6.jpg'>
	<img class='img-rounded float-left visible-xs-inline'
	    src='img/mixing-diag-sol6-xs.jpg'>
	### Mixing by Incompressible Flows

	Can you stir your coffee to keep it hot for longer?
	How much "work" do you have to do to stir cream into your coffee?
	Mathematically this translates to obtaining precise estimates for solutions to certain PDE's, which is what motivated this part of my research.
	
	{{ macros.cite( [p.pubs.badmixing, p.pubs.mixbounds] ) }}.
      {% endmarkdown %}
      }}} #}
      {%markdown%}{# {{{ #}
	## Grant Support

	I gratefully acknowledge partial support from:

	* An [NSF](http://www.nsf.gov) CAREER grant (2013-18).

	* An [Alfred P. Sloan](http://www.sloan.org/sloan-research-fellowships)
	  research fellowship (2013-15).

	* The [Center for Nonlinear Analysis](http://www.math.cmu.edu/cna)

	<small>All findings my own and do not necessarily reflect the views of respective funding agencies.</small>
      {% endmarkdown %}{# }}} #}
    </div>{# /col-md-3 #}
  </div>{# /row #}

  <h2><a name='publications'></a>Publications</h2>

  {% set base_tags = [
    ( 'all', 'All Publications' ),
    ( 'pde', 'Partial Differential Equations' ),
    ( 'probability', 'Probability' ),
  ] %}
  {% set more_tags = [
    ( 'coagulation', 'Coagulation' ),
    ( 'fluids', 'Fluid Dynamics' ),
    ( 'harmonic analysis', 'Harmonic Analysis' ),
    ( 'homogenization', 'Homogenization' ),
    ( 'liquid crystals', 'Liquid Crystals' ),
    ( 'mixing', 'Mixing' ),
  ] %}
  <ul class='nav nav-tabs' role='tablist'>
    {% for t, T in base_tags %}
    <li role='presentation' {% if loop.first %}class='active'{% endif %}>
      <a href="#pubs-{{t|replace( ' ', '-' )}}" role='tab' data-toggle='tab'>
	{{t | capitalize}}
      </a>
    </li>
    {% endfor %}
    <li role='presentation' class="dropdown">
      <a id="dLabel" role="button" data-toggle="dropdown"
	  aria-haspopup="true" aria-expanded="false">
	More
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	{% for t, T in more_tags %}
	  <li role='presentation'>
	    <a href="#pubs-{{t|replace( ' ', '-' )}}" role='tab' data-toggle='tab'>
	      {{t | capitalize}}
	    </a>
	  </li>
	{% endfor %}
      </ul>
    </li>
  </ul>

  <div class='tab-content'>
    {% for t, T in base_tags + more_tags %}
      <div role='tabpanel' class='tab-pane{% if loop.first %} active{% endif %}'
	  id="pubs-{{t|replace(' ', '-')}}">
	<h3>{{T}}</h3>

	<ul>
	  {% if loop.first %}
	    {{ macros.pubs( p.publist ) }}
	  {% else %}
	    {{ macros.tpubs( p.publist, t )}}
	  {% endif %}
	</ul>
      </div>
    {% endfor %}
  </div>
</div>{#/text-justify hyphenate#}
{% endblock %}
