{% set course = {
    'current' : True,
    'abv_title': 'CSC223',
    'abv_name': 'Advanced Scientific Programming',
    'title' : 'CSC223 - Advanced Scientific Programming',
    'abv_semester': 'SP22',
    'semester' : 'Spring 2022',
    'lectures' : [
        'Section 10: MWF 11:00AM-11:50AM GR307',
        'Section 20: MWF 12:00PM-12:50PM GR307',
    ],
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3216827',
    'dates' : [
      ('Programming Assignments', 'Due by 11:00PM of the Due Date'),
      ('Exam 1', 'TBD'),
      ('Exam 2', 'TBD'),
      ('Final Project Due', 'Wednesday May 11 11:00PM'),
    ]
  }
%}