{% set course = {
    'current' : True,
    'abv_title': 'CSC223',
    'abv_name': 'Advanced Scientific Programming',
    'title' : 'CSC223 - Advanced Scientific Programming',
    'abv_semester': 'SP22',
    'semester' : 'Spring 2022',
    'lectures' : [
        'TBD'
    ],
    'D2L' : 'https://kud2l.kutztown.edu/d2l/home/3014689',
    'dates' : [
      ('', ''),
    ]
  }
%}