{% extends "layouts/base.j2" %}
{% set active = 'contact.html' %}
{% set title = 'Contact Information' %}

{% block body %}
<h2>{{title}}</h2>

<table class='table'>
  <tbody>
    <tr>
      <th scope='row'>Email</th>
      <td>
        <p class='primary'>{{author_email}}</p>
      </td>
    </tr>
    <tr>
      <th scope='row'>Office</th>
      <td>
        <a href='https://osm.org/go/ZclD27vKY?layers=N'>OM</a>, 252.
      </td>
    </tr>
    <tr>
      <th scope='row'>Office Phone</th>
      <td>
        {{author_office_phone}}
      </td>
    </tr>
    <tr>
      <th scope='row'>Mailing Address</th>
      <td>
        <address class='text-nowrap'>
          Patrick Earl<br>
          Kutztown University of PA<br>
          Department of Computer Science & Information Technology<br>
          P.O. Box 730<br>
          Kutztown, PA 19530          
        </address>
      </td>
    </tr>
    <tr>
      <th scope='row'>Personal Web-Page</th>
      <td>
        <a href='https://www.pat-earl.com' title='Personal Webpage'>
          Personal Webpage
        </a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}