{% extends "layouts/jumbotron93.j2" %}
{% set active = 'index.html' %}
{% import "includes/publist.j2" as p %}
{% import "includes/macros.j2" as macros %}
{% from 'teaching/sections.j2' import secs %}
{% from 'teaching/courses.j2' import md_current_courses %}
{% block jumbotron %}{# {{{ #}
  <h1 class='text-nowrap'>{{site_author}}</h1>

  <p style="color: #{{ site.colors.primary_maroon }}">
    Instructor,
    <a href='https://www.kutztown.edu/csit' class='text-nowrap' style="color: #{{ site.colors.primary_maroon }}">
      <span class='d-none d-sm-inline'>
	Department of Computer Science & Information Technology,
      </span>
    </a>
    <a class='text-nowrap' href='https://www.kutztown.edu' style="color: #{{ site.colors.primary_maroon }}">
      Kutztown University of PA
    </a>
  </p>

  <div class='small mb-2'>
    {{ macros.email( author_email, false ) }}
    &emsp;
    {{ macros.room( author_office_bldg, author_office_room ) }}
    &emsp;
    <span class='text-nowrap' title='Phone'>
      🕻
      {{author_office_phone}}
    </span>
  </div>
{% endblock %}{# }}} #}
{% block heading1 %}{# {{{ #}
  {% markdown %}
  <div class='alert alert-info'>
    Office Hours Changes - Week of 9/20<br>
    Thursday: No Office Hours<br>
    Friday: 8:30AM - 9:30AM
  </div>
  {% endmarkdown %}
  <h2>Current Courses</h2>
  {% markdown %}
  <div class='media mb-4' markdown='1'>
    {{ md_current_courses() -}}
  </div>{# /media #}
  {% endmarkdown %}

  {# <h2 id='schedule'>Schedule</h2>
  <p>
  <a href='./schedule.png'>Click here to see my Spring 2021 schedule</a>
  </p>
  #}
{% markdown %}
### Tutoring Info 

* Graduate Assistants:
    - [Schedule]({{get_link('./tutoring/GA_OfficeSchedule.pdf')}})
    - [Instructions]({{get_link('./tutoring/virtual_rooms.pdf')}})
* Department Tutors
    - [CS/IT Lab Hours]({{get_link('./tutoring/tutoring_info.md')}})
{% endmarkdown %}

  <br>
  <h2 id='publications'>Publications</h2>

  {# <ul>{{ macros.pubs( p.publist[0:5] ) }}</ul> #}
  {# {% set base_tags = [
    {( 'recent', 'Recent Publications' ),
    ( 'all', 'All Publications' ),
  ] %} #}
  {#
  <ul class='nav nav-tabs'>
    {% for t, T in base_tags %}
      <li class='nav-item
	  {%- if loop.first %} active
	  {%- elif loop.index > 2 %} d-none d-sm-inline-block
	  {%- endif %}'>
        <a class='nav-link' href="#pubs-{{t|replace( ' ', '-' )}}"
            data-toggle='tab'>
          {{t | capitalize}}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class='tab-content small'>
    {% for t, T in base_tags %}
      <div class='tab-pane{% if loop.first %} active{% endif %}'
	  id="pubs-{{t|replace(' ', '-')}}">
	      <h5 class='mt-2'>{{T}}</h5>

        <ul>
          {% if t == 'recent' %}
            {{ macros.pubs( p.publist[0:5] ) }}
          {% elif t == 'all' %}
            {{ macros.pubs( p.publist ) }}
          {% endif %}
        </ul>
        </div>
    {% endfor %}
  </div> #}
  {{ macros.pubs(p.publist ) }}

  {# {{{
  <div class='text-right'>
    <div class='btn-group'>
      <a class="btn btn-default" href="research#publications">All publications</a>
      <a class="btn btn-default" href="research/cv.pdf">CV</a>
      <a class="btn btn-default" href="research">More info</a>
    </div>
  </div>
  }}} #}
{% endblock %}{# }}} #}
{% block heading2 %}{% markdown %}{# {{{ #}
## Office Hours 

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for day, time in site.office_hours.items() %}
    <tr>
      <th scope="row">{{ day }}</th>
      <td>{{ time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

Please use my Calendly to schedule office hours appointments<br>
<https://calendly.com/prof_earl/office-hours-appointment>

*Appointments are not required, but will be given priority over walk-ins*

You may attend office hours in-person or via Zoom. If attending in-person,
you **will be required** to wear a mask. 

Zoom Office Hours Link: <https://kutztown.zoom.us/j/96663053507>


{% endmarkdown %}{% endblock %}{# }}} #}

{% block heading3 %} {% markdown %}{# {{{ #}

{% endmarkdown %}{% endblock %} {# }}}} #}

