{%- import 'includes/site.j2' as site -%}
{%- from 'layouts/frag/nav.j2' import nav_bar -%}
{%- from 'layouts/frag/footer.j2' import footer with context -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#-
      The above 3 meta tags *must* come first in the head; any other head
      content must come *after* these tags
    #}
    <meta name="author" content="{{ site_author }}">
    <title>
      {{ ( title or site_title ) | striptags | default( 'No Title' )}}
    </title>

    {%- block stylesheets -%}
      {%- if dev_env == 'production' -%}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      {%- else -%}
	<link rel="stylesheet"
	  href="{{get_link('/dev/static/bootstrap/4.4.1/css/bootstrap.css', true)}}">
      {%- endif -%}
      <link rel="stylesheet"
	href="{{site_prefix}}/share/css/pygments-theme.css">
      <link rel="stylesheet" href="{{site_prefix}}/share/css/local.css">
    {%- endblock -%}
  </head>
  <body {% block bodyargs -%}{%- endblock -%}>
    {%- block nav %}{{ nav_bar(active|default(dirname, true) ) }}{% endblock -%}

    {% block pre_container %}{% endblock -%}
    <div class='container'>
      {% block body -%}
	<h1>{{title | default("No Title.") }}</h1>
	<p class='lead'>Default body block goes here.</p>
	{{ lipsum() }}
      {%- endblock -%}
    </div>

    {% block footer scoped -%}{{ footer(page_email) }}{%- endblock -%}

    {#- Hopefully this will inherit the uses_math variable -#}
    {%- block scripts scoped -%}
      {#- jQuery (necessary for Bootstrap's JavaScript plugins) -#}
      {%- if dev_env == 'production' -%}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      {%- else -%}
	<script src="{{get_link('/dev/static/jquery/jquery-3.4.1.js', true)}}"></script>
	<script src="{{get_link('/dev/static/popper/1.16.0/umd/popper.js', true)}}"></script>
	<script src="{{get_link('/dev/static/bootstrap/4.4.1/js/bootstrap.js', true)}}"></script>
      {%- endif -%}

      {#-
	Include all compiled plugins (below), or include individual files as
	needed
      #}
      {%- if uses_math -%}
	<script defer src='{{get_link('/share/js/mathjax-config.js', true)}}'></script>
	<script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg-full.js"></script>
      {%- endif -%}

      {%- if dev_env != 'production' and live_reload -%}
	<script src='{{get_link('/dev/static/livejs/live.js', true)}}></script>
      {%- endif -%}

      <script src='{{get_link('/share/js/local.js', true)}}'></script>
    {%- endblock scripts -%}
  </body>
</html>
