{% set active = 'blog' %}
{% extends "layouts/md-nav-right-affix.j2" %}
{% block nav_after_toc %}
  {#
  <div class='row'>
    <div class='col-md-12 col-sm-6'>
      <h4>Tags</h4>
    </div>
    <div class='col-md-12 col-sm-6'>
      <h4>Recent posts</h4>
    </div>
  </div>
  #}
{% endblock nav_after_toc %}
