{%- if path_exists( '../course_info.j2' ) -%}
  {%- from get_file('../course_info.j2') import course -%}
  {% set page_email = course.email -%}
  {% if not breadcrumb -%}
    {% set breadcrumb = '../|' ~ course.title -%}
  {% endif -%}
{% endif -%}
{% extends "layouts/md-class.j2" -%}
{% block content_block -%}
  <div id='status' class='alert alert-info' role='alert'>
    Loading...
  </div>
  {{ content }}

  {% if (grade_table | default('show')) == 'show' -%}
    <table class='table' id='scores'></table>
  {%- endif -%}
{%- endblock -%}
{% block scripts -%}
  {{ super() }}
  <script>
    {#-
    window.addEventListener('DOMContentLoaded', function() {
      get_grades('{{dirname}}/grades.csv', false, false);
    });
    #}
    $(function() {
      get_grades( '{{dirname}}', {{glob('*.csv')|sort}},
	{{show_stats | default('true')}},
	{{show_total | default('true')}});
    });
  </script>
{%- endblock -%}
