{%- macro md_sidenav() -%}
  {%- include dirname ~ '/' ~ (sidenav | default( '_sidenav.md', true )) ignore missing -%}
{%- endmacro -%}
{% extends md_nav_layout | default("layouts/nav-right.j2") %}
{% block main_column %}
  <div {{"class='lead'" if bigfont}}>{# Get a readable font! #}
    <h1>{{title}}</h1>
    {{ content }}
  </div>
{% endblock %}
{% block nav_after_toc %}
  {% if md_sidenav() %}
    <div class='small'>
      {{ md_sidenav() | markdown }}
    </div>
  {% endif %}
{% endblock %}
