{%- extends "layouts/nav-right.j2" -%}
{%- block bodyargs -%}
  data-scroll-toc='1'
{%- endblock -%}
{% block nav_column -%}
  <div style='position: sticky; top: .5rem; overflow-x: hidden;'>
    {{ super() }}
  </div>
{% endblock -%}
