{%- extends "layouts/base.j2" -%}
{% block body %}
  <div class='row'>
    <div class='col-md-9' id='col-main'>
      {% block breadcrumb_block %}
	{% if breadcrumb %}
	  <ul class='breadcrumb hidden-xs'>
	    {% for i in breadcrumb %}
	      {% if loop.index is odd %}
		<li><a href='{{i}}'>
	      {% else %}
		{{i}}</a></li>
	      {% endif %}
	    {% endfor %}
	    <li class='active'>{{title}}</li>
	  </ul>
	{% endif %}
      {% endblock breadcrumb_block %}
      {% block main_column %}
	<h1>{{title|default('Set title to the document title')}}</h1>
	{{ lipsum() }}
      {% endblock main_column %}
    </div>{# col-md-9 #}
    <div class='col-md-3' id='col-right'>
      {% block nav_column %}
	{% block nav_before_toc %}{% endblock %}
	{% if toc %}
	  <nav class='nav hidden-xs hidden-sm'>
	    <h4>
	      <a href='#toc' data-toggle='collapse' aria-expanded='false'
		  aria-controls='#toc'>Navigation</a>
	    </h4>
	    <div id='toc' class='collapse in'>
	      {{toc}}{# Looks like:<div class='toc'><ul>...</ul></div> #}
	    </div>
	  </nav>
	{% endif %}
	{% block nav_after_toc %}{% endblock %}
      {% endblock nav_column %}
    </div>{# col-md-3 #}
  </div>{# row #}
{% endblock body %}
