{%- extends "layouts/base.j2" -%}
{% block body -%}
  <h1>{{title|default('Set title to the document title')}}</h1>
  <div class='row'>
    <div class='col-md-3' id='col-left'>
      {% block nav_column -%}
	<nav class='nav d-none d-md-block'>
	  {{toc}}{# Looks like:<div class='toc'><ul>...</ul></div> #}
	</nav>
      {% endblock -%}
    </div>{# col-md-3 #}
    <div class='col-md-9' id='col-main'>
      {% block main_column -%}
	{{ lipsum() }}
      {% endblock -%}
    </div>{# col-md-9 #}
  </div>{# row #}
{% endblock body -%}
