# Shibboleth header
AuthType Shibboleth
ShibRequireSession On
ShibApplicationId default
ShibExportAssertion On

# For any authenticated user. (Need not be a CMU member)
#Require Shibboleth

# Specific user id
#require user gi1242@andrew.cmu.edu

# Groups.
require shib-attr affiliation Faculty@andrew.cmu.edu
#require shib-attr affiliation Staff@andrew.cmu.edu
#require shib-attr affiliation Member@andrew.cmu.edu

require user xudanb@andrew.cmu.edu
require user tes@andrew.cmu.edu

require user apallen@andrew.cmu.edu
require user kbalenza@andrew.cmu.edu
require user abaweja@andrew.cmu.edu
require user ybenshac@andrew.cmu.edu
require user jchacon@andrew.cmu.edu
require user jc6@andrew.cmu.edu
require user donghunc@andrew.cmu.edu
require user cclarke1@andrew.cmu.edu
require user ajconlon@andrew.cmu.edu
require user xichenc@andrew.cmu.edu
require user kdhull@andrew.cmu.edu
require user adruck@andrew.cmu.edu
require user nehag1@andrew.cmu.edu
require user mayankj@andrew.cmu.edu
require user nkalale@andrew.cmu.edu
require user yilel@andrew.cmu.edu
require user kmaharsh@andrew.cmu.edu
require user imcmahon@andrew.cmu.edu
require user hmilano@andrew.cmu.edu
require user zmoore@andrew.cmu.edu
require user cmowry@andrew.cmu.edu
require user moreshko@andrew.cmu.edu
require user tjpascuc@andrew.cmu.edu
require user anreyp@andrew.cmu.edu
require user vpeng@andrew.cmu.edu
require user arafter@andrew.cmu.edu
require user kcrobins@andrew.cmu.edu
require user srothbau@andrew.cmu.edu
require user ruiyuans@andrew.cmu.edu
require user sstoyer@andrew.cmu.edu
require user wenquans@andrew.cmu.edu
require user rtargosk@andrew.cmu.edu
require user shrinatv@andrew.cmu.edu
require user dsweiss@andrew.cmu.edu
require user ckwillia@andrew.cmu.edu
require user jnwong@andrew.cmu.edu
require user hwu3@andrew.cmu.edu
require user yizhoux@andrew.cmu.edu
require user andrewy1@andrew.cmu.edu
require user meiluny@andrew.cmu.edu
require user yangy4@andrew.cmu.edu
require user yifeiy3@andrew.cmu.edu
require user zhuqingy@andrew.cmu.edu
require user ahz1@andrew.cmu.edu
require user jlzhao@andrew.cmu.edu

require user arielt@andrew.cmu.edu
